<p>
  <b>Name:</b>
  <%=h @education_concentration.name %>
</p>


<%= link_to 'Edit', edit_education_concentration_path(@education_concentration) %> |
<%= link_to 'Back', education_concentrations_path %>
