<fieldset>
<div class="progressbar">Spread the Word<div class="progresscounter"><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div><div class="littlewhitesquare"></div>
<div class="progresswording">4 of 4</div></div>
</div>
<p>We hope you've found Jobyssey unique and interesting so far.  Know anyone else that might find it useful?</p>  
<a id="plaxo_link" href="#" onclick="showPlaxoABChooser('invite_recipient_list', '/invites/address_popup'); return false"><img src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" /></a>
<ul>
<% form_for @invite, :url => { :action => :create_invites} do |f| %>
	<li>Send them an invite:
	<%= f.text_field "recipient_list" %>
	<%= submit_tag%></li>
</ul>	
<% end %>
</fieldset>