
<h1>Client Inquiry</h1>
<p>We're always happy to hear from you- please let us know if you have any questions about Jobyssey, encouter any problems using the site, or have any suggestions for new features you'd like to see.</p>
<% form_for(:inquiry, :url => {:action => :send_client_inquiry}) do |form| %>

  <p>
    <label for="notes">Your message:</label><br />
    <%= form.text_area :notes %>
  </p>
    <%= form.submit "Send" %>
  </p>

  
<% end %>
