<h1>Listing required_degrees</h1>

<table>
 <%= render :partial => 'required_degree_header' %>


  <%= render :partial => 'required_degree', :collection => @required_degrees %>

</table>

<br />

<%= link_to 'New required_degree', new_required_degree_path %>
