<%=form_tag '/jobyssey/login' %>
	<ul>
		<li>
			<label for="email">Email</label>
			<%=text_field_tag :email%>
		</li>
		<li>
			<label for="password">Password</label>
			<%=password_field_tag :password %>
		</li>
		<li><%=submit_tag "Login" %></li>
	</ul>
</form>