<h1>About Us</h1>
<p>What are we all about?  Jobyssey is a best match job search site launched in 2008 to make finding an IT job in Ireland easier.  We use information about skills and personality to link people up with their perfect job.</p>

<p>We're not a recruitment agency.  In fact, Jobyssey doesn't even have any recruitment agencies on the site.  We think people find the right job or employee fastest when they speak directly to each other.</p>

<p>Want to know more about us?  We're always happy to answer any questions you may have.  Please <%= link_to "send us a message", :controller => :messages, :action => :general_questions %>, and we'll get back to you shortly.</p>
