<h1>About Us</h1>
<p>What are we all about?  Jobyssey is a best match job search site launched in 2008 to make finding an IT job in Ireland easier.  We use information about skills and personality to link people up with their perfect job.  It's that simple.</p>
