<div id= "frontpagewrapper">

		<h1>Finding you the IT right people</h1>
		<div id ="mainpage">
    
    <div id="fancylist">
    <h2>The Best Candidates</h2>
    <ul>
      <li>Detailed skills and personality profile for all jobseekers, plus CV available for download.</li>
      <li>Professionals can also build a work portfolio and add code samples, to let you get a complete picture of their background.</li>
      <li>Jobyssey is 100% direct employers (no agencies), so it's great for candidates worried about confidentiality, or tired of the delays and hassle of going through a middleman.</li>
      </ul>

    <h2>The Best Tools</h2>
     <ul>
      <li>Unlimited job posting and CV views.</li> 
      <li>Company profile lets you tell jobseekers what you're all about.</li>
      <li>Activity tracker lets you manage applications through the interview scheduling process.</li> 
      </ul>
    </div></div>

</div>

<div id ="productshot">
<img src="/productshot.png">
</div>




