<div id="needsbullets">
<h1>What's Jobyssey all about?</h1>

<p>Jobyssey is another option to help you bring the right new IT staff on board.We take a unique approach to help you find the perfect new employee: </p>
  <ul>
  <li>Unlimited job posting and CV views. </li>  
  <li>Detailed skills and personality profile for all jobseekers, plus CV.</li>
  <li>Employers-only site attracts jobseekers concerned about confidentiality.</li>
  <li>Company profile lets you tell jobseekers what you're all about.</li>
  <li>Activity tracker lets you manage applications through the interview scheduling process.</p>
  </ul>
  </div>