
<div id="left">

		<h1>What is Jobyssey?</h1>
    <p>The perfect way to find your new IT job!</p>
    <div id="fancylist">
    <ul>
    <li>All employers- no recruiting agencies</li>
    <li>Portfolios and code samples let the best hiring managers see your work</li>
    <li>Lots of info about company culture to find a place you'll love working</li>
    <li>You decide which employer get your contact details- no nuisance calls</li>
  
    </ul>
    </div>
    <%= render :partial => 'professionals/upload_cv' %>
		
    <p><a href="/jobyssey/professionals">Find out more about how Jobyssey works.</a></p>
    </div>		



			<div id="right">

				<H1>Employers</h1>
					<p>Jobyssey is for Irish IT employers to find the perfect new hire.  We offer: </p>
					<ul>
					<li>Skills based searches</li>
					<li>Matching on 20 different work personality traits</li>
					<li>Unlimited job postings</li>
					<li>Unlimited CV views</li>
					<li>Employers only (no agencies)</li>
					</ul>
          <p><a href="/contacts/new">Send us an email to set up a profile or request more info.</a></p>
          
						</div>



