<div id="left">

		<h1>Your Journey Starts Here</h1>

    <p>Jobyssey is a best match job search site that uses your skills and experience to find the perfect next role.  </p>
    <p>  All you need is your CV to begin building your unique search profile.</p>

    <%= render :partial => 'professionals/upload_cv' %>
    
    <p><a href="/jobyssey/professionals">Find out more about how Jobyssey works.</a></p>
    </div>		

		

			<div id="right">

				<H1>Employers</h1>
					<p>Jobyssey is for Irish IT employers to find the perfect new hire.  We offer: </p>
					<ul>
					<li>Skills based searches</li>
					<li>Matching on 18 different work personality traits</li>
					<li>Unlimited job postings</li>
					<li>Unlimited CV views</li>
					<li>Employers only (no agencies)</li>
					</ul>
          <p><a href="/contacts/new">Send us an email to set up a profile or request more info.</a></p>
						</div>



