<div id="left">

		<h1>Your Journey Starts Here</h1>

    <p>Jobyssey is a best match job search site that uses your skills and experience to find the perfect next role.  </p>
    <p>  All you need is your CV to begin building your unique search profile.</p>

    <%= render :partial => 'professionals/upload_cv' %>
    
    <p><a href="something">Find out more about how Jobyssey works.</a></p>
    </div>		

		

			<div id="right">

				<H1>Employers</h1>
					<p>
          Build a skills based job profile to search for best match IT professionals.</p>
          <p>Send us an email to set up a profile or request more info.</p>
						</div>



