<h1>Job Search Tips</h1>
<h2>Search page</h2>
<h3>Why do I have to fill in so much information?</h3>
<p>Unlike other job boards, Jobyssey works by matching you to jobs that suit your background.  The more we know about you, the better the jobs we show you will suit.  Your detailed work history, education, and answers to our questions help employers understand you better, and ensure that you'll only get called about jobs that will be of interest. </p>

<h3>What are you using my contact details for?</h3>
<p>Unlike other job boards, Jobyssey stores your contact details confidentially.  When employers see your profile, all they will see is a code name, with your real name and contact details removed.  When you apply for a job or accept an interview invitation, we pass your contact details along to the employer so that can contact you as necessary throughout the process.  You don't have to worry about news of your job search reaching your boss, or getting unwelcome phone calls.</p>

<h3>What if there are no suitable jobs for me?</h3>
<p>As Jobyssey is a new site, we're adding new employers and jobs every day.  Please come back in a few days to see if there's anything else of interest to you.  In the meantime, employers will see your anonymous profile any time they add a similar job, so you may get an email from an employer if they'd like to discuss an open role with you.</p>

<h3>What's the benefit of adding more information about myself, like 3 Questions or Portfolio links?</h3>
<p>The more potential employers can see about you and your experience, the more likely they are to approach you or respond favorably to your application.  More details mean fewer emails about unsuitable jobs. </p>

<h3>What if I need to change my skills?</h3>
<p>You can login to edit any details you need to on your profile.  Be aware that employers often track changes to your profile and frequent changes to your skills set may be seen as untrustworthy.  To get the best response, be sure to add all of your skills to your profile, and be sure your work history supports your stated skills.</p>

<h2>Search results</h2>
<h3>How do you decide which jobs to show me?</h3>
<p>We search on your skills tags and years of experience, and return the best result first.  NOTE: The search does not yet take into account your salary and location, so please carefully review job descriptions and employer profiles before you apply.  We know this is a key feature- it's at the front of the development pipeline.</p>

<h3>How can I find out more about the employer?</h3>
<p>Click on the employers' name to see their profile page, with details about industry, size, location, and some answers to questions you may have as well as useful links.</p>

<h2>The Apply process</h2>
<h3>What happens after I click "apply"?</h3>
<p>An email is automatically sent to the company letting them know you've applied.  They can login and will be able to view your profile and portfolio.  They can email you with an interview time, or decline to proceed (either way, you'll get an email notifying you that they've responded).  Once you've both agreed to an interview time, they'll have access to your name and contact details and can get in touch with you directly as well.</p>

<h3>What can I do to get better feedback on my applications?</h3>
<p>To get a faster answer, be sure that you've filled in all of your work history and education details and added work samples to your portfolio.  If your profile doesn't contain enough information, employers may leave it on the back burner while they wait to see who else applies, so it may take a long time to get an answer.</p>

