<div id= "frontpagewrapper">


		<h1>The Best IT Job Search in Ireland, Full Stop</h1>
		<div id ="mainpage">
    
    <div id="fancylist">
    <ul>
    <li>We rock</li>
    <li>We fucking rock</li>
    <li>No, seriously, we kick ass.</li>
    <li>And so on.</li>
    <li>And so forth.</li>
    </ul>
    </div>
<br><br>
    
     <div id="signup-button" style="display:block;">
      <div id="roundbuttonmainpage">
      <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
       <div class="contentc">
              <div>Try it now!</div>
          </div>
      <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
      </div>
      </div>
      <div id="cvupload">
      <%= render :partial => 'professionals/upload_cv' %>
      </div>
      <script type="text/javascript">
      <!--
      $('#signup-button').click(function () {
        $(this).toggle();
        $('#cvupload').toggle();
      });

      //-->
      </script>
    
</div>

<div id ="productshot">
<img src="/productshot.png">
</div>

</div></div></div>

<div id ="dailytip">

<h2>Daily Jobseeker Tip</h2>

<p>Tutorial Blog, ha realizado una recopilación de 30 Diseños Web, en el título de la entrada dicen “Great” (Grandiosos), pero la verdad es que algunos dejan mucho que desear y de grandiosos no tienen nada</p>


</div>






