<div id="needsbullets">
<h1>What's Jobyssey all about?</h1>

<p>Jobyssey is a best match job search site.</p>
  <ul>
  <li>We use your skills and work personality to dynamically match you to the perfect job.</li>  
  <li>We keep your search confidential- you'll be known to employers by a code name until you agree to an interview.</li>
  <li>You'll be dealing directly with employers- no pressure from agencies or phantom jobs.</li>
  </ul>
  </div>