<br><br><br><br>
<div id="needsbullets">
<h1>What's Jobyssey all about?</h1>

<p>Jobyssey is a best match job search site.  When you upload your CV and tell us a bit about yourself we'll use that information to show you jobs that suit you best.  A little more about how Jobyssey works:</p>
  <ul>
  <li>Detailed skills profiles help employers understand you better.</li>
  <li>Work personality profiles let you find a position and company that suit how you like to work.</li>
  <li>We keep your search confidential- you'll be known to employers by a code name until you agree to an interview.</li>
  <li>You'll be dealing directly with employers- no pressure from agencies or phantom jobs.</li>
  </ul>
<p>Still feeling a little gun shy?  We know that starting your job search by putting your CV out there can be a leap of faith, and we want you to know there's real people on the other end here.  Please <%= link_to "let us know", :controller => :messages, :action => :general_questions %> if you have any questions about how Jobyssey works or who we are and we'll email you right back. </p>
  </div>