<h1>Terms and Conditions</h1>

  <p align="justify"><font size="2" face="Verdana">This page states the 
terms and conditions (the “Terms and Conditions”) under which you 
may use Jobyssey.com (the “Web Site”). Please read this page carefully. 
If you do not accept the Terms and Conditions stated here, do not use 
this Web Site and service. By using this Web Site, you are indicating 
your acceptance to be bound by the terms of these Terms and Conditions. 
Jobyssey Ltd and its affiliated companies (“Jobyssey”) may revise 
these Terms and Conditions at any time by updating this posting. You 
should visit this page periodically to review the Terms and Conditions 
because they are binding on you. The terms &quot;You&quot; and &quot;User&quot; 

as used herein refer to all individuals and/or entities accessing this 
Web Site for any reason. </font></p>
<p><font size="2" face="Verdana"><b>Use 
of Web Site Content. </b> <br>
Jobyssey authorises you to view and download a single copy of the material 
on the Web Site solely for your personal, non commercial use.</font></p>
<p align="justify"><font size="2" face="Verdana">The contents of this 
Web Site and of all other websites under Jobyssey’s control whether 
partial or otherwise (the Web Site and such other websites are sometimes 
collectively referred to as “Jobyssey Sites”) such as text, graphics, 
images, logos, button icons, software and other Web Site content (collectively, 
“Web Site Content”), are protected under United States, European 
and other copyright, trademark and other laws. All Web Site Content 
is the property of Jobyssey or its content suppliers or clients. The 
compilation (meaning the collection, arrangement and assembly) of all 
content on this Web Site is the exclusive property of Jobyssey and protected 
by copyright laws. Unauthorised use of the Web Site Content may violate 
copyright, trademark and other laws. You must retain all copyright, 
trademark, service-mark and other proprietary notices contained in the 
original Web Site Content on any copy you make of the Web Site Content. 
You may not sell or modify the Web Site Content or reproduce, display, 
publicly perform, distribute or otherwise use the Web Site Content in 
any way for any public or commercial purpose. The use of the Web Site 
Content on any other web site or in a networked computer environment 
for any purpose is prohibited. </font></p>
<p align="justify"><font size="2" face="Verdana">You shall not copy 
or adapt the HTML code that Jobyssey creates to generate any Web Site 
Content or the pages making up any Jobyssey Site. It is also protected 
by Jobyssey&#39;s copyright. </font></p>
<p><font size="2" face="Verdana"><b>Acceptable Site Use. <br>
General Rules:</b> Users may not use the Web Site in order to display, 
transmit, distribute, store or destroy material including, without limitation, 
Web Site Content, (a) in violation of any applicable law or regulation, 
(b) in a manner that will infringe the copyright, trademark, trade secret 
or other intellectual property rights of others or violate the privacy, 
publicity or other personal rights of others or (c) that is, or may 
in our judgment be, defamatory, offensive, vulgar, obscene, harassing, 
threatening, abusive or hateful, racist, sexist, discriminatory, of 
a menacing character or cause annoyance, inconvenience, embarrassment 
or anxiety to any person. </font></p>

<p align="justify"><font size="2" face="Verdana">Users are prohibited 
from violating or attempting to violate the security of any Jobyssey 
Site including, without limitation, (a) accessing data not intended 
for such user or logging into a server or account which the user is 
not authorised to access, (b) attempting to probe, scan or test the 
vulnerability of a system or network or to breach security or authentication 
measures without proper authorisation, (c) attempting to interfere with 
service to any user, host or network including, without limitation, 
via means of submitting a virus to any Jobyssey Site, overloading, &quot;flooding&quot;, 
&quot;spamming&quot;, &quot;mailbombing&quot; or &quot;crashing&quot;, 
or (d) forging any TCP/IP packet header or any part of the header information 
in any e-mail or newsgroup posting. Violations of system or network 
security may result in civil or criminal liability. Jobyssey will investigate 
occurrences which may involve such violations and may involve, and co-operate 
with, law enforcement authorities in prosecuting users who are involved 
in such violations. </font></p>
<p><font size="2" face="Verdana"><b>Specific Prohibited Uses. </b>
 <br>
Jobyssey Sites may be used only for lawful purposes by individuals seeking 
employment and career information and employers seeking employees. Jobyssey 
specifically prohibits any use of any Jobyssey Site, and all users agree 
not to use, or allow any party under their control to use, any Jobyssey 
Site, for any of the following: </font></p>

<ul type="DISC">
  <li><font size="2" face="Verdana">Posting any incomplete, 
  false or inaccurate biographical information or information which is 
  not your own accurate CV (living individual seeking employment on a 
  full-time or part-time basis on his or her own behalf). </font></li>
  <li><font size="2" face="Verdana">Posting any franchise, pyramid 
  scheme, &quot;club membership&quot;, distributorship or sales representative 
  agency arrangement or other business opportunity which requires an up 
  front or periodic payment, pays commissions only (no significant salary), 
  requires recruitment of other members, sub-distributors or sub-agents. </font></li>
  <li><font size="2" face="Verdana">Using the Jobyssey CV database 
  for any purpose other than as an employer seeking employees for specific 
  live jobs including, but not limited to, using the information in the 
  CV database to sell or promote any products or services or to source 
  people to join a franchise, pyramid scheme, “club membership”, distributorship 
  or sales representative agency arrangement or other business opportunity 
  requires an up front or periodic payment, pays commissions only (no 
  significant salary), requires recruitment of other members, sub-distributors 
  or sub-agents. </font></li>
  <li><font size="2" face="Verdana">Sending unsolicited mail 
  or e-mail, making unsolicited phone calls or sending unsolicited faxes 
  regarding promotions and/or advertising of products or services to a 
  user of a Jobyssey Site. </font></li>
  <li><font size="2" face="Verdana">Deleting or revising any 
  material posted by any other person or entity. </font></li>

  <li><font size="2" face="Verdana">Using any device, software 
  or routine to interfere or attempt to interfere with the proper working 
  of any Jobyssey Site or any activity being conducted on this Web Site. </font></li>
  <li><font size="2" face="Verdana">Taking any action which 
  imposes an unreasonable or disproportionately large load on any Jobyssey 
  Site&#39;s infrastructure. </font></li>
  <li><font size="2" face="Verdana">If you have a password allowing 
  access to a non-public area of this Web Site, disclosing to or sharing 
  your password with any third parties or using your password for any 
  unauthorised purpose. </font></li>
  <li><font size="2" face="Verdana">Notwithstanding anything 
  to the contrary contained herein, using or attempting to use any engine, 
  software, tool, agent or other device or mechanism including, without 
  limitation, browsers, spiders, robots, avatars or intelligent agents 
  to navigate or search any Jobyssey Site other than the search engine 
  and search agents available from Jobyssey on such Jobyssey Site and 
  other than generally available third party web browsers (e.g., Netscape 
  Navigator, Microsoft Explorer). </font></li>
  <li><font size="2" face="Verdana">Attempting to decipher, 
  decompile, disassemble or reverse engineer any of the software comprising 
  or in any way making up a part of any Jobyssey Site. </font></li>
  <li><font size="2" face="Verdana">Aggregating, copying or 
  duplicating in any manner any of the Web Site Content or information 
  available from any Jobyssey Site. </font></li>

  <li><font size="2" face="Verdana">Framing of or linking to 
  any of the Web Site Content or information available from any Jobyssey 
  Site. </font></li>
  <li><font size="2" face="Verdana">Posting jobs which require 
  the applicant to provide information relation to his/her (i) racial 
  or ethnic origin (ii) political beliefs (iii) philosophical or religious 
  beliefs (iv) membership of a trade union (v) physical or mental health 
  (vi) sexual life (vii) the commission of criminal offences or proceedings 
  or (vii) age. </font></li>
</ul>
<p><font size="2" face="Verdana"><b>User Information. </b>
 <br>
When you register for the Web Site, you will be asked to provide Jobyssey 
with certain information including, without limitation, a valid email 
address (your &quot;Information&quot;). In addition to the terms and 
conditions that may be set forth in any privacy policy on this Web Site, 
you understand and agree that Jobyssey may disclose to third parties, 
on an anonymous basis, certain aggregate information contained in your 
registration application. Jobyssey will not disclose to any third party 
your name, address, e-mail address or telephone number without your 
prior consent, except to the extent necessary or appropriate to comply 
with applicable laws or in legal proceedings where such information 
is relevant. Jobyssey reserves the right to offer third party services 
and products to you based on the preferences that you identify in your 
registration and at any time thereafter; such offers may be made by 
Jobyssey or by third parties. Please see Jobyssey&#39;s Privacy Policy for 
further details regarding your Information. </font></p>

<p><font size="2" face="Verdana"><b>User Submissions. </b>
 <br>
As a user, you are responsible for your own communications and are responsible 
for the consequences of their posting. You must not, and by using any 
Jobyssey Site you agree not to, do the following things: post material 
that is copyrighted unless you are the copyright owner or have the permission 
of the copyright owner to post it; post material that reveals trade 
secrets unless you own them or have the permission of the owner; post 
material that infringes on any other intellectual property rights of 
others or on the privacy or publicity rights of others; post material 
that is obscene, offensive, vulgar, defamatory, threatening, harassing, 
abusive, hateful, racist, sexist, discriminatory, of a menacing character 
or embarrassing, or which may cause annoyance, anxiety or inconvenience 
to another user or any other person or entity; post a sexually-explicit 
image or statement; post advertisements or solicitations of business; 
post chain letters or pyramid schemes; impersonate another person; or 
post material that contains viruses, Trojan horses, worms, time bombs, 
cancelbots or other computer programming routines or engines that are 
intended to damage, detrimentally interfere with, surreptitiously intercept 
or expropriate any system, data or information. </font></p>
<p align="justify"><font size="2" face="Verdana">Jobyssey does not represent 
or guarantee the truthfulness, accuracy or reliability of communications 
posted by users or endorse any opinions expressed by users. You acknowledge 
that any reliance on material posted by other users will be at your 
own risk. </font></p>
<p align="justify"><font size="2" face="Verdana">Jobyssey acts as a 
passive conduct for the online distribution and publication of user-submitted 
information and has no obligation to screen communications or information 
in advance and is not responsible for screening or monitoring material 
posted by users. If notified by a user of communications which allegedly 
do not conform to these Terms and Conditions, Jobyssey may investigate 
the allegation and determine in good faith and its sole discretion whether 
to remove or request the removal of the communication. Jobyssey has 
no liability or responsibility to users for performance or nonperformance 
of such activities. Jobyssey reserves the right to expel users and prevent 
their further access to the Web Site for violating the Terms and Conditions 
or the law and the right to remove communications which are abusive, 
illegal or disruptive. Jobyssey may take any action with respect to 
user-submitted information that it deems necessary or appropriate in 
its sole discretion if it believes it may create liability for Jobyssey 
or may cause Jobyssey to lose (in whole or in part) the services of 
its ISPs or other suppliers. </font></p>
<p align="justify"><font size="2" face="Verdana">By submitting content 
to any public or non-public area of any Jobyssey Site, including message 
boards, forums, contests and chat rooms, you grant Jobyssey and its 
affiliates the loyalty-free, perpetual, irrevocable, sublicenseable 
(through multiple tiers), non-exclusive right (including any moral rights) 
and license to use, reproduce, modify, adapt, publish, translate, create 
derivative works from, distribute, communicate to the public, perform 
and display the content (in whole or in part) worldwide and/or to incorporate 
it in other works in any form, media or technology now known or later 
developed for the full term of any rights that may exist in such content. 
You also warrant that the holder of any rights, including moral rights 
in such content, has completely and effectively waived all such rights 
and validly and irrevocably granted to you the right to grant the license 
stated above. You also permit any subscriber to access, display, view, 
store and reproduce such content for personal use. Subject to the foregoing, 
the owner of such content placed on the Web Site retains any and all 
rights that may exist in such content.</font></p>
<p align="justify"><font size="2" face="Verdana">Any hyperlinks, &quot;hidden&quot; 
keywords or any keywords that are irrelevant to the job or are otherwise 
misleading contained in a job posting are prohibited.</font></p>

<p align="justify"><font size="2" face="Verdana">We appreciate hearing 
from our customers and welcome your comments regarding our services 
and the Jobyssey Sites. Please be advised, however, that our policy 
does not permit us to accept or consider creative ideas, suggestions 
inventions or materials other than those which we have specifically 
requested. While we do value your feedback on our services, please be 
specific in your comments regarding our services and do not submit creative 
ideas, inventions, suggestions or materials. If, despite our request, 
you send us creative suggestions, ideas, drawings, concepts, inventions 
or other information (collectively the &quot;Submission&quot;), the 
Submission shall be the property of Jobyssey. None of the Submission 
shall be subject to any obligation of confidence on our part and we 
shall not be liable for any use or disclosure of any Submission. Jobyssey 
shall own exclusively all now known or later discovered rights to the 
Submission and shall be entitled to unrestricted use of the Submission 
for any purpose whatsoever, commercial or otherwise, without compensation 
to You or any other person who submitted the Submission. </font></p>
<p><font size="2" face="Verdana"><b>Registration and Password. </b>
 <br>
You are responsible for maintaining the confidentiality of your information 
and password. You shall be responsible for all uses of your registration 
whether or not authorised by you. You agree to immediately notify Jobyssey 
of any unauthorised use of your registration or password. </font></p>
<p align="justify"><font size="2" face="Verdana">Identification Of Agent 
To Receive Notification And Elements Of Notification Of Claimed Copyright 
or Trademark Infringement. </font></p>
<p align="justify"><font size="2" face="Verdana">If You believe that 
your copyrighted work or trademark has been uploaded, posted or copied 
to any Jobyssey Site and is accessible on such Jobyssey Site in a way 
that constitutes copyright or trademark infringement, please print and 
complete the Jobyssey Proprietary Rights Complaint Process and Notification 
Form and send such completed form to our designated agent. </font></p>
<p><font size="2" face="Verdana">Policy Regarding Termination Of Users 
And Account Holders Who Repeatedly Infringe The Copyright Or Other Intellectual 
Property Rights Of Others.</font></p>
<p align="justify"><font size="2" face="Verdana">Jobyssey respects the 
intellectual property of others and we ask our users, account holders 
and content partners to do the same. The unauthorised reproduction, 
copying, distribution, modification, public display or public performance 
of copyrighted works constitutes infringement of the copyright owners 
rights. As a condition to your use of this Web Site, you agree not to 
use the Web Site or any other Jobyssey Site to infringe the intellectual 
property rights of others in any way. We will terminate the accounts 
of any account holders and block access to our Web Site and/or the other 
Jobyssey Sites of any users who repeatedly infringe the copyright or 
other intellectual property rights of others. We reserve the right to 
take these actions at any time, in our sole discretion, with or without 
notice and without any liability to the account holder who is terminated 
or to the user whose access is blocked. </font></p>

<p><font size="2" face="Verdana"><b>Jobyssey&#39;s Liability. </b>
 <br>
Jobyssey Sites are only a venue. This Web Site acts as a venue for employers 
to post job opportunities and candidates to post CV&#39;s and does not screen 
or censor the listings offered. Jobyssey is not involved in the actual 
transaction between employers and candidates. As a result, Jobyssey 
has no control over the quality, safety or legality of the jobs or CV&#39;s 
posted, the truth or accuracy of the listings, the ability of employers 
to offer job opportunities to candidates or the ability of candidates 
to fill job openings. In addition, note that there are risks including, 
but not limited to, the risk of physical harm, of dealing with strangers, 
foreign nationals, underage persons or people acting under false pretences. 
You assume all risks associated with dealing with other users with whom 
you come in contact through the Web Site and/or the other Jobyssey Sites. </font></p>
<p align="justify"><font size="2" face="Verdana">Because user authentication 
on the Internet is difficult, Jobyssey cannot and does not confirm that 
each user is who they claim to be. Because we do not and cannot be involved 
in user-to-user dealings or control the behaviour of participants on 
any Jobyssey Site, in the event that you have a dispute with one or 
more users, you release Jobyssey (and our agents and employees) from 
claims, demands and damages (actual and consequential, direct and indirect) 
of every kind and nature, known and unknown, suspected and unsuspected, 
disclosed and undisclosed, arising out of or in any way connected with 
such disputes.</font></p>
<p align="justify"><font size="2" face="Verdana">We are under no legal 
obligation to, and generally do not, control the information provided 
by other users which is made available through the Web Site and the 
other Jobyssey Sites. By its very nature, other people&#39;s information 
may be offensive, harmful or inaccurate and in some cases will be mislabelled 
or deceptively labelled. We expect that you will use caution and common 
sense when using this Web Site and/or the other Jobyssey Sites. </font></p>
<p align="justify"><font size="2" face="Verdana">The Web Site Content 
may contain inaccuracies or typographical errors. Jobyssey makes no 
representations about the accuracy, reliability, completeness or timeliness 
of the Web Site or the Web Site Content. The use of the Web Site and 
the Web Site Content is at your own risk. Changes are periodically made 
to Jobyssey Sites and may be made at any time. </font></p>
<p align="justify"><font size="2" face="Verdana">You acknowledge and 
agree that you are solely responsible for the form, content and accuracy 
of any CV or material contained therein placed by you on the Jobyssey 
Sites. Employers are solely responsible for their postings on the Jobyssey 
Sites. </font></p>

<p align="justify"><font size="2" face="Verdana">Jobyssey is not to 
be considered to be an employer with respect to your use of Jobyssey 
Sites and Jobyssey shall not be responsible for any employment decisions, 
for whatever reason made, made by any entity posting jobs on any Jobyssey 
Site.</font></p>
<p align="justify"><font size="2" face="Verdana">JOBYSSEY DOES NOT WARRANT 
THAT THE WEB SITE WILL OPERATE ERROR-FREE OR THAT THE WEB SITE AND ITS 
SERVER ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF 
YOUR USE OF ANY JOBYSSEY SITE OR THE WEB SITE CONTENT RESULTS IN THE 
NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, JOBYSSEY IS NOT RESPONSIBLE 
FOR THOSE COSTS. THE JOBYSSEY SITES AND WEB SITE CONTENT ARE PROVIDED 
ON AN &quot;AS IS&quot; BASIS WITHOUT ANY WARRANTIES OF ANY KIND. JOBYSSEY, 
TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER 
EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF MERCHANTABILITY, FITNESS 
FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT WITH RESPECT TO OUR SERVICES 
OR ANY JOBYSSEY SITE OR THE FUNCTIONALITY, PERFORMANCE OR RESULTS THEREOF. 
JOBYSSEY MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, 
OR TIMELINESS OF THE MATERIAL, WEB SITE, WEB SITE CONTENT, SERVICES, 
SOFTWARE, TEXT, GRAPHICS AND LINKS. </font></p>
<p><font size="2" face="Verdana"><b>Disclaimer of Consequential Damages. </b>
 <br>
TO THE EXTENT PERMITTED BY LAW, IN NO EVENT SHALL JOBYSSEY, ITS SUPPLIERS 
OR ANY THIRD PARTIES MENTIONED ON ANY JOBYSSEY SITE BE LIABLE FOR ANY 
DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL 
DAMAGES, LOST PROFITS, LOSS OF BUSINESS OR DAMAGES RESULTING FROM LOST 
DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO 
USE ANY JOBYSSEY SITE AND THE WEB SITE CONTENT, WHETHER BASED ON WARRANTY, 
CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT JOBYSSEY 
IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </font></p>
<p><font size="2" face="Verdana"><b>Links to Other Sites. </b>
 <br>

The Web Site and certain other Jobyssey Sites contain links to third 
party web sites. These links are provided solely as a convenience to 
you and not as an endorsement by Jobyssey of the contents on such third-party 
web sites. Jobyssey is not responsible for the content of linked third-party 
sites and does not make any representations regarding the content or 
accuracy of materials on such third party web sites. If you decide to 
access linked third party web sites, you do so at your own risk. </font></p>
<p><font size="2" face="Verdana"><b>No Resale or Unauthorised Commercial 
Use. </b> <br>
You agree not to resell or assign your rights or obligations under these 
Terms and Conditions. You also agree not to make any unauthorised commercial 
use of any Jobyssey Site. </font></p>
<p><font size="2" face="Verdana"><b>Limitation of Liability. </b>
 <br>
TO THE EXTENT PERMITTED BY LAW, THE COMPANY’S MAXIMUM LIABILITY ARISING 
OUT OF OR IN CONNECTION WITH ANY JOBYSSEY SITE OR YOUR USE OF THE WEB 
SITE CONTENT, REGARDLESS OF THE CAUSE OF ACTION (WHETHER IN CONTRACT, 
TORT, BREACH OF WARRANTY OR OTHERWISE), WILL NOT EXCEED £100.</font></p>
<p align="justify"><font size="2" face="Verdana"><b>Termination. </b>
 <br>

Jobyssey reserves the right, at its sole discretion, to pursue all of 
its legal remedies, including but not limited to deletion of your postings 
from this Web Site and other Jobyssey Sites and/or immediate termination 
of your registration with or ability to access the Web Site and other 
Jobyssey Sites and/or any other service provided to you by Jobyssey, 
upon any breach by you of these Terms and Conditions or the terms and 
conditions of any Jobyssey Site or if Jobyssey is unable to verify or 
authenticate any information you submit to the Web Site registration 
or other Jobyssey Site registration. Indemnity. </font></p>
<p align="justify"><font size="2" face="Verdana">Jobyssey reserves the 
right to delete or cancel user accounts from the site if they are deemed 
to be incomplete or if the email provided is unmanned or non-existent. </font></p>
<p align="justify"><font size="2" face="Verdana">You agree to defend, 
indemnify and hold harmless Jobyssey, its officers, directors, employees 
and agents from and against any claims, actions or demands including, 
without limitation, reasonable legal and accounting fees, alleging or 
resulting from (i) any material you provide to a Jobyssey Site, (ii) 
any Web Site Content that you use or (iii) your breach of the terms 
of these Terms and Conditions. Jobyssey shall provide notice to you 
promptly of any such claim, suit or proceeding and shall assist you, 
at your expense, in defending any such claim, suit or proceeding.</font></p>
<p align="justify"><font size="2" face="Verdana"><b>General.</b> <br>
Jobyssey makes no claims that the Web Site Content may be lawfully viewed 
or downloaded outside of the Republic of Ireland . Access to the Web 
Site Content may not be legal by certain persons or in certain countries. 
If you access the Web Site from outside of the Republic of Ireland, 
you do so at your own risk and are responsible for compliance with the 
laws of your jurisdiction. These Terms and Conditions are governed by 
the law of Ireland. Jurisdiction for any claims arising under this agreement 
shall lie exclusively with the Irish Courts. If any provision of these 
Terms and Conditions is found to be invalid by any court having competent 
jurisdiction, the invalidity of such provision shall not affect the 
validity of the remaining provisions of these Terms and Conditions which 
shall remain in full force and effect. No waiver of any term of these 
Terms and Conditions shall be deemed a further or continuing waiver 
of such term or any other term. Except as expressly provided in additional 
terms of use for areas of the Web Site, a particular &quot;Legal Notice&quot; 
or Software License or material on particular Web pages, these Terms 
and Conditions constitute the entire agreement between you and Jobyssey 
with respect to the use of Web Site. No changes to these Terms and Conditions 
shall be made except by a revised posting on this page. </font></p>
<p align="justify"><font size="2" face="Verdana"><b>Additional Terms 
of Use. </b></font></p>
<p align="justify"><font size="2" face="Verdana">Certain areas of this 
Web Site and the other Jobyssey Sites are subject to additional terms 
of use. By using such areas, or any part thereof, you agree to be bound 
by the additional terms of use applicable to such areas. </font></p>

