
<div id="newsfeed">

		<h1>Newsfeed</h1>
		
    <p>New Job- <a href>Project Manager at Xbox.</a></p>
	<p>Interview Invite- <a href>Project Manager, Localization at Google.</a></p>
	<p><a href>New Feature- Visio Skill Certification.</a>  Free 15 minute certification to get more localization interview invites.</p>
	<p>Interview Decline- <a href>Senior PM at Microsoft.</a></p>
    
    </div>		

		

			<div id="startpage">

				<H1>Welcome!</h1>
					
					<fieldset>
						<Legend>Build your Profile</Legend>
						<p>Answer <a href>3 Questions</a> to let employers get to know you better.</p>
					</fieldset>
					
			
					<fieldset>
						<Legend>Your Pipeline</Legend>
						<ul>
							<li>Total applications to date:</li>
							<li>Open applications:</li>
							<li>Interviews scheduled:</li>
							<br>
							<li>Invitation to interview rate:(%) </li>
							<li>Average interview rating:</li>
							
							 
							
							</ul>
					</fieldset>
          	
						</div>


