
<div id="newsfeed">

		<h1>Welcome to Jobyssey!</h1>
		
    <p>Thanks for taking the time to build your profile.  Please check back within a few days to see if we've added any positions that suit your requirements.  </p>
    <p>In the meantime, you can add to your details to get more interview invites from employers:</p>
    <ul>
    <li>Answer <a href="/three_questions/start">3 Questions</a> to let employers get to know you better.</li>
    <li>Add work samples to your <a href="/portfolio/links">portfolio</a> to get more interview requests.</li>
    <li><a href="/invites/import_addresses/">Pass it on</a>- let your friends and colleagues know about Jobyssey.</li>
    </ul>
    
    </div>		

		

			<div id="startpage">

				<H1>Welcome!</h1>
					
					<fieldset>
						<Legend>Coming Soon</legend>
						<p>While we complete the user migration process to the new version of Jobyssey, we'll also be moving over employer accounts and adding several new employers.  Please come back in 3-4 days to see if there are any new roles that suit you.</p>
						<p>We welcome your input- please <a href="/contacts/new">drop us a line</a> if you have any suggestions, or catch any bugs.  </p>
					</fieldset>
					
			
					
						</div>


