<h1><%= @professional.first_name %>- Needs to be code name!</h1>
<div id="left">

<p>Download CV</p>

<h2>Skills</h2>
<table>
<tr><td>Skill Name</td><td>Percentage</td></tr>
<% for skill in @skills %>
<%= render :partial => "skillset/view_skill", :locals => {:skill => skill} %>
<% end %>
</table>

<h2>Personal Qualities</h2>
<table>
<tr><td>Trait Name</td><td>Preference</td></tr>
<% for personal_quality in @personal_qualities %>
<%= render :partial => "personality/details", :locals => {:personal_quality => personal_quality} %>
<% end %>
</table>

</div>
<div id="right">
<ul>
<li><% link_to :controller => "three_questions", :action => "view", :id => @professional_id unless  @professional.three_questions.nil?%></li>
<li><% link_to :controller => "code_sample_question", :action => "view_samples", :id => @professional_id unless  @professional.code_sample.nil? %></li> 
</ul>
</div>