<h1>All Professionals</h1>

<table>
<% for professional in @professionals %>

<tr><td><%= link_to professional.code_name, :controller => "professionals", :action => "view", :id => professional %></td><td><%= professional.desired_job_title %></td></tr>
<% end %>
</table>