<h1>All Jobs</h1>
<p>Here's a list of all of the open positions on Jobyssey at the moment. </p>

<% for employer in @employers %>
  <h2><%= employer.name %></h2>
  <table>
 <% debugger %>
    <% for job in @jobs %>
       <% if job.employer == employer %>
    <tr><td><%= link_to job.title, :controller => "job", :action => "view", :id => job %> at <%= link_to job.employer.name, :controller => "company_profiles", :action => "view", :id => job.employer_id %></td></tr>
      <% else %>
        <% return %>
      <% end %>

    <% end %>
        </table>
<% end %>