<div id= "frontpagewrapper">


		<h1>Use our database to find the right people</h1>
		<div id ="searchmainpage">

    <h2>Search Results Summary for <%= @job.title %></h2>
    
    <p style="font-size: 16px; font-weight: bold; text-decoration: underline">Of <%= @professionals.length %> professionals registered in our database, <%= @professionals_list.length %> are a good match for this role.</p>

    <p>Database access is one of the features available to premium employers, allowing you to see profiles of all matching professionals and contact them through the site.  </p>
    
     <div id="signup-button" style="display:block;">
     <a href = "/it-employers/premium">
      <div id="roundbuttonsearchpage">
      <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
       <div class="contentc">
              <div>Find Out More</div>
          </div>
      <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
      </div>
      </a>
      </div>

</div>
<div id="productandcv">

<div id ="productshot">
<img src="/searchresultsproductshot.png">
<br><br><br><br><br><br>
</div>

</div>
</div></div>


</div>






