<h2>Search Results Summary for <%= @job.title %></h2>

<p style="font-size: 16px; font-weight: bold; text-decoration: underline">Of <%= @professionals.length %> professionals registered in our database, <%= @professionals_list.length %> are a good match for this role.</p>