<h1>Listing post_codes</h1>

<table>
<%= render :partial => 'post_code_header' %>

  <%= render :partial => 'post_code', :collection => @post_codes %>

</table>

<br />

<%= link_to 'New post_code', new_post_code_path %>
