/* Header */


#header {
	background: #FFffff;
	background-image: url(header.jpg);
	background-repeat: no-repeat;
	background-position: top right; 
	color: #FFFFFF;
	height: 100px;
}
#header a{
	color:#FFF;
	text-decoration:none;
}
#header h1{
	font-size:40px;
	text-indent: 6px;
	line-height: 1.9em;
	color: #FFFFFF;
	font-family: "Lucida Sans", Lucida, Verdana, Arial, sans-serif;
	margin: 0px 25px -5px 10px;
	font-weight: normal;
	padding-bottom: 0px;
	letter-spacing: -2px;
}
#header	h3 {
	font-size: 16px;
	margin: -25px 15px 0px 155px;
	}
#header p {
	text-indent: 430px;
	margin: 0 auto;
	padding: 10px 0px 0px 0px;
	
}
#bigj {
	font-size: 50px;
}



/* Navbars */


#navbar {
	background-color:#FF7800;
	position:relative;
	text-align:right;
}
#navbar a{
	color:#FFF;
	text-decoration:none;
}
#navbar ul {
	margin: 0;
	list-style-type: none;
}
#navbar li {
	display:inline;
	margin-right:10px;
	font-weight: bold;
	color: #ffffff;
}


#loggedinnavbar {
	background-color:#8888B8;
	position:relative;
	text-align:left;
}
#loggedinnavbar a{
	color:#FFF;
	text-decoration:none;
}
#loggedinnavbar ul {
	margin: 0;
	list-style-type: none;
}
#loggedinnavbar li {
	display:inline;
	margin-right:10px;
}


#loginbar {
	background-color:#8888B8;
	position:relative;
	text-align:left;
	height: 24px;
}
#loginbar a{
	color:#FFF;
	text-decoration:none;
}
#loginbar ul {
	margin: 0;
	list-style-type: none;
}
#loginbar li {
	display:inline;
	margin-right:10px;
	font-weight: bold;
}
#loginbar label{
	color: #fff;
	font-weight: bold;
}


#adminbar {
	background-color:#c1c1d5;
	position:relative;
	text-align:left;
}
#adminbar a{
	color:#FFF;
	text-decoration:none;
}
#adminbar ul {
	margin: 0;
	list-style-type: none;
}
#adminbar li {
	display:inline;
	margin-right:10px;
}

#bottomnavbar {
	background-color:#FF7800;
	position: relative;
	text-align:  right;
	height: 1.1em;
}
#bottomnavbar a {
	color:#FFF;
	text-decoration:none;
}
#bottomnavbar ul {
	margin: 0;
	list-style-type: none;
}
#bottomnavbar li {
	display:inline;
	margin-right:10px;
	font-weight: bold;
	font-size: 16px;
}

#copyright{
	font-size: 10px;
	color: #444444; 
	text-align: right;
	background-color:#FFFFFF;
	font-weight:bold;
}
	
#copyright a{
	color:#444444;
	text-decoration: underline;
}


/* Divs */

.clear{
	clear: left;
}
body {
	font-family: "Lucida Sans", Lucida, Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	background-image: url(graybackground.jpg);
	background-position: top center; 	 
	text-align: center;
	color: #444444;
	height: 100%;
}
div#errorExplanation{
	color: red;
	padding: 10px 10px 10px 10px;
}

div#container{
	margin: 0 auto; 
	width: 850px; 
	text-align: left;
	background: #ffffff;
	padding-top: 0px;
	border-top: 0px;
	color: #444444;
	height: 100%;
}
div#behindcontent{
	height: 100%;
	width: 850px;
	position: absolute;
	background: #ffffff;
}
#content {
	font-size:14px;
	color: #444444;
	background-color: #ffffff;
	padding: 0px 20px 20px 20px;
	margin-top: 10px;
}
#content a{
		color: #242463;
	}

#left{
	width: 530px;
	margin-top: -10px; 
	margin-left: -20px;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
#right{
	width: 220px;
	height: 300px;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	margin: 10px 0px 0px 550px;
	min-height: 0;
	font-size: 10px;
	border-left-style: solid;
	border-color: #cccccc;	
}
#right li{
	list-style-type: square;
	margin-left: 50px;
	line-height: 1.5em;
	
}

#newsfeed{
	width: 530px;
	margin-top: 10px; 
	margin-left: -20px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
#newsfeed H1{
		font-weight: bold;
		font-size: 20px;
		color: #444444;
		font-family: "Lucida Sans";
		text-indent: 0px;
}
#newsfeed p{
	font-size: 14px;
	color: #444444;

}
#newsfeed li{
	font-size: 14px; 
	color: #444444;
	list-style-type: square;
	margin-left: 50px;
	line-height: 1.5em;
	
}
#startpage{
	width: 220px;
	height: 300px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	margin: 10px 0px 0px 550px;
	min-height: 0;
	font-size: 10px;
	border-left-style: solid;
	border-color: #cccccc;
}
#startpage H1{
		font-weight: bold;
		font-size: 20px;
		color: #444444;
		font-family: "Lucida Sans";
		text-indent: -10px;
}
#startpage fieldset{
		padding:  0px 5px 0px 5px;
		margin:  0px 0px 0px 0px;

}
#startpage legend{
	font-weight: bold;
	font-size: 14px;
	color: #444444;
	font-family: "Lucida Sans";
}
.employerhotlinks{
	color: #ffffff;
	background: #888888; 
	font-size: 14px;
	font-weight: bold; 
	margin: 2px 2px 2px 2px;
}
#needsbullets li{
	list-style-type: square;
	margin-left: 50px;
}
.progressbar{
	margin: 0px -15px 0px -15px;
	padding: 5px 5px 5px 5px;
	background-color: #FF7800;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
}
.progresscounter{
	margin: -25px 0px 10px 0px;
	padding: 0 auto;
    float: right;
	color: #ffffff;
	font-size: 20px;
}
div.littlewhitesquare {margin: 2px 4px 2px 4px; display:block; float:left; height:20px; width:20px; background-color:#fff; border: 2px; border-color: #FF7800;}
div.littleorangesquare {margin: 2px 4px 2px 4px; display:block; float:left; height:16px; width:16px; border-style: solid; border-width: 2px; border-color: #ffffff;}
div.progresswording{
	margin: 0px 10px 0px 10px; display:block; float:left;
}
.personalitypagetop{
	margin: 0px 0px 10px 5px;
	text-align: center;
}
.personalitypagebottom{
	margin: 0px 0px 0px -10px;
	padding-top: 1em;
	padding-bottom: 1.5em;
	text-align: center;
}	
.personalitypage p{
	text-align: left;
}	
#lowertrait{
	width: 150px;
	float: left;
	margin-left: 0px;
	margin-top: -10px;
	padding-right: 40px;
}	
#uppertrait{
	width: 150px;
	float: right;
	margin-right: 0px;
	margin-top: -30px;
}	
.addskillfieldset{
	margin: 0px 70px 0px 70px;
}	

/* Font Styling */

h1 {
	font-weight: bold;
	font-size: 24px;
	color: #FF7800;

	}
h2{
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4{
	font-size: 14px;
	font-weight: bold;
}
.bigorange{
	width: 250px;
	font-weight: bold;
	font-size: 18px;
	color: #FF7800;
	float: left;
	text-align: left;
}
.personalitybigorange{
	width: 400px;
	font-weight: bold;
	font-size: 28px;
	color: #FF7800;
	letter-spacing: -2px;
}	
.personalitybigorangecounter{
	width: 400px;
	font-weight: bold;
	font-size: 20px;
	color: #FF7800;
	letter-spacing: -2px;
}	
.personalityinstructions{
	font-weight: bold;
	font-size: 15px;
}	
.removeskill a:hover {
	text-decoration: underline;
}
/* Lists */


ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.skills_list_skill_item {clear:both;}

li img{
	margin: 0 auto;
}
/* Forms */


fieldset label {
	width:260px;
	float: left;
	text-align: left;
	padding-right:1em;
}
fieldset{
	padding:  0px 15px 20px 15px;
	margin: 30px 5px 30px 5px;
}
legend{
	font-weight: bold;
	font-size: 18px;
	color: #FF7800;
}
form input#skill_name{
	margin: 0 auto;
}
label.fixedwidth{
	display: block; 
	width:  200px;
	float:  left;
	font-weight: bold;
	text-align: left;
}

label.skillname{
	display: inline-block; 
	width: 150px; 
	font-size: 16px; 
	color: #242463;
	font-weight: bold;
}


/* Tables */


table {
 font-size: 95%;
 font-family: 'Lucida Grande', Helvetica, verdana, sans-serif;
 background-color:#fff;
 border-collapse: collapse;
 line-height: 1.2em;
}
caption {
 font-size: 30px;
 font-weight: bold;
 color: #002084;
 text-align: left;
 padding: 10px 0px;
 margin-bottom: 2px;
 text-transform: capitalize;
}
thead th {
 border-right: 2px solid #fff;
 color:#fff;
 text-align:center;
 padding:2px;
 height:25px;
 background-color: #004080;
}
tfoot {
 color:#002084;
 padding:2px;
 text-transform:uppercase;
 font-size:1.2em; 
 font-weight: bold;
 margin-top:6px;
 border-top: 6px solid #004080;
 border-bottom: 6px solid #004080;
}
tbody tr {
 background-color:#fff;
 border-bottom: 2px solid #c0c0c0;
}
tbody td {
 color:#222222;
 padding:5px;
 text-align:left;
 border-bottom: 2px solid #c0c0c0;
}
tbody th {
 text-align:left;
 padding: 2px;
}
tbody td a, tbody th a {
 color:#002084;
 text-decoration:underline;
 font-weight:normal; 
}
tbody td a:hover, tbody th a:hover {
 text-decoration:none;
}


/* Slider */


.slider_container { position: relative; margin-top: 0px; height: 40px; display: inline;} 
.small_label { background: url(/images/slider/minus.gif) no-repeat; height: 19px; width: 19px; overflow: hidden; float: left; display: inline;} 
.slider_bar { background: url(/images/slider/bar.gif) no-repeat; height: 19px; width: 400px;  float: left; margin: 0px 0px 0px 0px; position: relative;} 
.large_label { background: url(/images/slider/plus.gif) no-repeat; height: 19px; width: 19px; overflow: hidden; float: left;} 
.slider_handle { background: url(/images/slider/selector.png) no-repeat; height: 19px; width: 20px; overflow: hidden; position: absolute; top: 1px;} 
.slider_callout { background: url(/images/slider/callout.gif) no-repeat; height: 45px; width: 38px; overflow: hidden; position: absolute; top: -50px; margin-left:-10px;  padding: 8px 0px 0px 0px; font-family: "Myriad Pro"; color: #284a6e; font-weight: bold; text-align: center;}
div#container-slider{ float:right; margin: 0px 50px 0px 0px; padding: 0 auto; }
div#container-slider-personality{ margin: 0 auto; padding: 0 auto; }
.removeskill {float: right; margin: 0px 0px 0px -40px; padding: 0 auto;}