/* Header */
#mainpage{
	width: 370px;
	display: inline;
	float: left;
	color: #000000;	
	text-align: left;
	padding-right: 10px;
}
#mainpage h1{
	color: #000000;
	font-weight: bold;
}
#productandcv{
	display: inline;
	width: 430px;
}
#productshot{
	display: inline;
}
#cvupload {display:none; margin-right: 5px;	text-align: left; width: 400px; position: relative; left: 400px; top: -300px; height: 350px;}
#frontpagewrapper{
	display: block;
	height: 50%;
	padding-top: 5px;
	text-align: center;
	padding-bottom: 20px;
}
#frontpagewrapper h1{
	font-size: 36px;
	color: #000;
	font-weight: bold;
}
#dailytip{
	width: 850px;
	background-color: #7D98C9;
	text-align: center;
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

#dailytip h2{
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 0px;
	}
#dailytip p{
	color: #fff;
	margin-top: 0px;
	}
#newindex2 {
	background-image: url(snowboarder.png);
	background-position: top right;
	background-repeat: no-repeat;
	margin-top: 40px;
}	
#newindextitle {
	padding-top: 0px;
}
#newindextitle h1 {
	font-size: 72px;
	line-height: .9em;
	color: #00133F;
	font-weight: bold;
}
#header {
	background: #ffffff;
	background-image: url(blue_gradient.png);
	background-repeat: repeat-x;
	/*background-position: top center;*/
	height: 75px;
	width: 100%;
	/*border-bottom: 3px solid #ffffff;*/
	margin: 0 auto;
	text-align: center;
	margin-top: -10px;
	position: fixed; 
	top: 0;
	z-index: 100;
}
#headertext a{
	color:#FC7C14;
	text-decoration:none;
}

#headertext h1{
	font-size:44px; 
	/*line-height: 1.9em;*/
	font-family: "Lucida Sans", Lucida, Verdana, Arial, sans-serif;
	margin:20px 0 0 15px;
	font-weight: normal;
	padding-bottom: 0px;
	letter-spacing: -2px;
	text-align: left;
}

#headertext p {
	color:#FC7C14;
	margin: -26px 0 0 109px;
	text-align: left;
}
#headertext {
	margin: 0 auto;
	display:inline-block;
	float: left;
	text-align: left;
} 
#headercontainer {
	width: 860px;
	margin: 0 auto;
	text-align: left;
	
}

/* Navbars */


#navbar {
	text-align:right;
	float: right;
	display: block;
	margin-top: 54px;
}

#navbar a{
	color:#fff;
	text-decoration:none;
}

#navbar ul {
	list-style-type: none;

}

#navbar li {
	list-style-type: none;
    display: inline;
	margin-right:10px;
	margin-top: 40px;
	font-weight: bold;
	color: #fff;
}

#loginbar {
	background-color:#ffffff;
	border: 2px solid #00133F;
	position:relative;
	text-align:right;
	height: 120px;
	width: 200px; 
	float: right;
	margin-right: 5px;
}
#loginbar a{
	color:#00133F;
	text-decoration:none;
}
#loginbar ul{
	list-style-type: none;
/*	display:inline;*/
}
#loginbar li{
	margin-right:10px;
	font-weight: bold;
	display:inline;
}
#loginbar label{
	color: #00133F;
	font-weight: bold;
}
#loginbar form{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}	
/*
#bottomnavbar {
	position: relative;
	text-align:  right;
	height: 1.1em;
	clear:both;
}*/
#bottomnavbar {
	background: #ffffff;
	background-image: url(small_blue_gradient.png);
	background-repeat: repeat-x;
	/*background-position: top center;*/
	height: 40px;
	width: 100%;
	/*border-bottom: 3px solid #ffffff;*/
	margin: 0 auto;
	text-align: right;
	margin-top: -16px;
	color: #ffffff;
	position: fixed; 
	bottom: 0;
}
#footercontainer {
	width: 860px;
	margin: 0 auto;
	text-align: right;	
}
#bottomnavbar a {
	color:#ffffff;
	text-decoration:none;
}
#bottomnavbar ul {
	margin: 0;
	list-style-type: none;
}
#bottomnavbar li {
	display:inline;
	margin-right:10px;
	font-weight: bold;
	font-size: 16px;
}

#copyright{
	font-size: 10px;
	color: #000000; 
	text-align: right;
	background-color:#FFFFFF;
	font-weight:bold;
	margin-top: -10px;
	padding-top: 10px;
}
	
#copyright a{
	color:#000000;
	text-decoration: underline;
}

	
/* Divs */

.clear{
	clear: left;
}
body {
	font-family: "Lucida Sans", Lucida, Verdana, Arial, sans-serif;
	background-color: #AEC3E9;
	background-position: top center; 	 
	text-align: center;
	color: #000000;
	height: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	/*background-image: url(constellation.png);*/
	background-repeat: repeat;
}
div#errorExplanation{
	color: #374979;
	padding: 0px 20px 20px 20px;
	border-color: #374979;
	border-style: solid;
	border-width: 6px;	
}
#errorExplanation h2{
	color: #374979;
	font-size: 22px;
	font-weight: bold;
}
#errorExplanation li{
	list-style-type: square;
	text-indent: 10px;
	margin-left: 20px;
}
div#notice{
	color: #00133F;
	padding: 10px 20px 10px 20px;
	margin: 20px 20px 20px 20px;
	border-color: #00133F;
	border-style: solid;
	border-width: 2px;	
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
div#container{
	margin: 0 auto; 
	width: 850px; 
	text-align: left;
	background: #ffffff;
	color: #000000;


}
div#behindcontent{
	height: 100%;
	width: 850px;
	margin: 0 auto;
	position: absolute;


}
#liner {
	font-size:14px;
	color: #000000;
	background-color: #ffffff;
	padding: 20px 20px 50px 20px;
	margin: 45px 0px 0px 0px;
}

#liner a{
		color: #242463;
}

#left{
	width: 530px;
	margin-top: -10px; 
	margin-left: -20px;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	float: left;
}

#right{
	width: 220px;
	height: 300px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 0px;
	margin: 10px 0px 0px 550px;
	min-height: 0;
	font-size: 10px;
	/*border-left-style: solid;*/
	border-color: #cccccc;
}
#right li{
	list-style-type: square;
	margin-left: 50px;
	line-height: 1.5em;
}
#newsfeed{
	width: 530px;
	margin-top: 10px; 
	margin-left: -20px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
#newsfeed H1{
		font-weight: bold;
		font-size: 20px;
		color: #000000;
		font-family: "Lucida Sans";
		text-indent: 0px;
}
#newsfeed p{
	font-size: 14px;
	color: #000000;

}
#newsfeed li{
	font-size: 14px; 
	color: #000000;
	list-style-type: square;
	margin-left: 50px;
	line-height: 1.5em;
}
#startpage{
	width: 220px;
	height: 300px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	margin: 10px 0px 0px 550px;
	min-height: 0;
	font-size: 10px;
	border-left-style: solid;
	border-color: #cccccc;
}
#startpage H1{
		font-weight: bold;
		font-size: 20px;
		color: #000000;
		font-family: "Lucida Sans";
		text-indent: -10px;
}
#startpage fieldset{
		padding:  0px 5px 0px 5px;
		margin:  0px 0px 0px 0px;

}
#startpage legend{
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	font-family: "Lucida Sans";
}
.employerhotlinks{
	color: #ffffff;
	background: #888888; 
	font-size: 14px;
	font-weight: bold; 
	margin: 2px 2px 2px 2px;
}
#needsbullets li{
	list-style-type: square;
	margin-left: 50px;
}
.progressbar{
	margin: 0px -20px 0px -20px;
	padding: 5px 5px 5px 5px;
	background-color: #FC7C14;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
}
.progresscounter{
	margin: -25px 0px 10px 0px;
	padding: 0 auto;
  float: right;
	color: #ffffff;
	font-size: 20px;
}
div.littlewhitesquare {margin: 2px 4px 2px 4px; display: block; float:left; height:16px; width:16px; border-style: solid; border-width: 2px; border-color: #ffffff; font-size: 0px; background-color:#fff;}
div.littleorangesquare {margin: 2px 4px 2px 4px; display: block; float:left; height:16px; width:16px; border-style: solid; border-width: 2px; border-color: #ffffff; font-size: 0px; }
div.progresswording{
	margin: 0px 10px 0px 10px; display: block; float:left;
}
.personalitypagetop{
	margin: 0px 0px 10px 5px;
	text-align: center;
}
.personalitypagebottom{
	margin: 0px 0px 0px -10px;
	padding-top: 1em;
	padding-bottom: 1.5em;
	text-align: center;
}	
.personalitypage p{
	text-align: left;
}	
#lowertrait{
	width: 160px;
	float: left;
	margin-left: 5px;
	margin-top: -10px;
	padding-right: 40px;
	font-size: 12px;
}	
#uppertrait{
	width: 150px;
	float: right;
	margin-top: -10px;
	margin-right: 0px;
	font-size: 12px;
}	
.personality_name{
	width: 100px;
}	
.addskillfieldset{
	margin: 0px 70px 0px 70px;
}
#roundbuttonmainpage{
	width: 350px;
	float: right;
	color: #fff;
	margin-right: -5px;
	font-size: 40px;
	font-weight: bold;
	margin-top: 15px;
}
#roundbuttoncontainer{
	width: 200px;
	color: #fff;
	margin-left: 600px;
	margin-right: 62px;
	margin-bottom: 40px;
	margin-top: 0px;
	font-size: 24px;
	font-weight: bold;
}
#roundbuttoncontainercodesample{
	width: 200px;
	color: #fff;
	margin-left: 500px;
	margin-right: 62px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 24px;
	font-weight: bold;
}	
#roundbuttoncontainerapply{
	width: 200px;
	float: right;
	color: #fff;
	margin-top: 20px;
}	

#roundbuttoncontainerapply a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
#roundbuttoncontainercodesample a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
#roundbuttoncontainerapplylong{
	color: #fff;
}	
.button{
	font-weight: bold;
	text-align: center;
	border-style: none;
}
.button img
	{border-style: none;}

#roundbuttoncontainerapplylong a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
#roundbuttoncontainer a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block; }
.b1 {height:1px; background:#FC7C14; margin:0 5px; }
.b2 {height:1px; background:#FC7C14; margin:0 3px; }
.b3 {height:1px; background:#FC7C14; margin:0 2px; }
.b4 {height:2px; background:#FC7C14; margin:0 1px; }
.contentb {background: #FC7C14; }
.contentb div {margin-left: 5px; text-align: center; }
.contentc {background: #FC7C14; }
.contentc div {margin-left: 5px; text-align: center;}
.quote{
	width: 750px;
}
#whatyourelookingfor{
	border-top: 2px solid #666;
	margin-top: 120px;
	margin-bottom: 20px;
}
#codename{
	font-weight: bold;
	display: block;
}
.headsup {
	border: 4px solid #242463;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.question{
	width: 18px;
	height: 18px;
	margin: 2px 2px 2px 2px;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	background-color: #FC7C14;
	display: inline-block;
	text-align: center;
}

.answer{
	font-weight: normal;
	color: #999999;
}


.info{
	float: right;
	color: #00133F;
	font-weight: bold;
	font-size: 10px;
	margin-top: -64px;

}	
.info a{
	color:#FFF;
	text-decoration:none;
}
.info ul {
	margin: 0;
	list-style-type: none;
}
.info li {
	display:inline;
	margin-right:10px;
	font-weight: bold;
	color: #ffffff;
}
#jobviewcontainer{
	margin: 0 auto;
	padding-bottom: 30px;
}	
#jobviewtop{
	padding-top:20px;
	font-size:20px;
}

#employername{
	color: #FC7C14;
	font-weight: bold;
	display: inline;
}	
#employername a{
	color: #FC7C14;
	font-weight: bold;
	text-decoration: none;
}	
#fastfactsright{
	margin-right: 60px;
	float: right;
	margin-top: 20px;
	width: 270px;
}	

#skillsright{
	float: left;
	display: inline-block;
	width: 100px;
}
#benefits{
	float:right;
	display:inline-block;
	margin-right: 100px;
}	
#personalqualitiesleft{
	float:left;
	width: 270px;
	padding-right: 30px;
}		
#userlinksright{
	float:right;
	display: inline-block;
	width: 200px;
	margin-top: 30px;
	padding-left: 20px;
	border-left-style: solid;
	border-color: #cccccc;	
}
#invitelink{
	float:right;
	margin-top: -40;
}
#images{
	display:inline-block;
	width: 300px;
	text-align: center;
	margin-left: 200px;
}	
#bottomdiv{
	width: 810px;
}
#fancylist ul{
	list-style-type: square;
	margin-left: 50px;
	font-weight: bold;
	font-size: 16px;
}

#bellcurveimage{
 	padding: 30px 0px 10px 40px;
	width: 270px;
	float: left;
}
#bellcurvecontent{
	float: right;
	display: inline-block;
	width: 450px;
	padding: 0 auto;
	margin: 0 auto;
}
#detailsandcv{
	display: block;
	margin: 0 auto;
}
#details{
	display: inline;
	float: left;
	width: 425px;
	border-right: 2px solid #666666;
	margin-right: 30px;
	margin-top: 0px;
	padding-top: 0px;
}
#details h2{
	margin: 0 auto;
}
#details label{
		width:150px;
		float: left;
		text-align: left;
		padding-right:1em;
}
#uploadcv{
	display: inline;
	width: 400px;
	padding-left: 50px;

}
#sliders{
	width: 700px;
	margin-left: 75px;
	line-height: 2em;
}
/* Font Styling */

h1 {
	/*font-weight: bold;*/
	font-size: 28px;
	color: #FC7C14;
	letter-spacing: -1.5px;
	}
h2{
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4{
	font-size: 14px;
	font-weight: bold;
}
.bigorange{
	width: 425px;
	font-weight: bold;
	font-size: 22px;
	color: #FC7C14;
	float: left;
	text-align: left;
}
.personalitybigorange{
	width: 400px;
	font-weight: bold;
	font-size: 28px;
	color: #FC7C14;
	letter-spacing: -2px;
}	
.personalitybigorangecounter{
	width: 400px;
	font-weight: bold;
	font-size: 20px;
	color: #FC7C14;
	letter-spacing: -2px;
}	
.personalityinstructions{
	font-weight: bold;
	font-size: 15px;
}	
.removeskill a:hover {
	text-decoration: underline;
}
.small{
	font-size: 10px;
}
#detailsheader{
	font-size: 20px;
	font-weight: bold;
	color: #FC7C14;
}	
pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/* Lists */


ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.skills_list_skill_item {clear:both;}

li img{
	margin: 0 auto;
}
option{
	width: 80px;
}
	
/* Forms */


fieldset label {
	width:260px;
	float: left;
	text-align: left;
	padding-right:1em;
}
fieldset{
	padding:  0px 15px 20px 15px;
	margin: 0px 5px 30px 5px;
}

legend{
	font-weight: bold;
	font-size: 18px;
	color: #FC7C14;
	padding-right:1em;
}
form input#skill_name{
	margin: 0 auto;
}
.fixedwidth label{
	display: block; 
	width:  200px;
	float:  left;
	font-weight: bold;
	text-align: left;
}
label{
	display: block; 
	width:  200px;
	float:  left;
	font-weight: bold;
	text-align: left;
}
label.skillname{
	display: inline-block; 
	width: 150px; 
	font-size: 16px; 
	color: #242463;
	font-weight: bold;
}
label.editskillname{
	display: inline-block; 
	width: 100px; 
	font-size: 14px; 
	color: #242463;
	font-weight: bold;
}
label.snuglabel{
	width: 100%;
	float:  left;
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: left;
}
label.tsandcs{
	display: inline;
	width: 100%;
	padding-bottom: 25px;
	font-weight: bold;
}
label.answer_name{
	width: 100%;
	padding-bottom: 10px;
	font-weight: bold;
}	
textarea{
	width: 100%;
}	
input.submit{
	background-color: #FC7C14;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

/* Tables */


table {
 font-size: 95%;
 font-family: 'Lucida Grande', Helvetica, verdana, sans-serif;
 background-color:#fff;
 border-collapse: collapse;
 line-height: 1.2em;
}
caption {
 font-size: 20px;
 font-weight: bold;
 color: #000000;
 text-align: left;
 padding: 10px 0px;
 margin-bottom: 2px;
}
thead th {
 border-right: 2px solid #fff;
 color:#fff;
 text-align:center;
 padding:2px;
 height:25px;
 background-color: #004080;
}
tfoot {
 color:#002084;
 padding:2px;
 text-transform:uppercase;
 font-size:1.2em; 
 font-weight: bold;
 margin-top:6px;
 border-top: 6px solid #004080;
 border-bottom: 6px solid #004080;
}
tbody tr {
 background-color:#fff;
 border-bottom: 2px solid #c0c0c0;
}
tbody td {
 color:#000000;
 padding:5px;
 text-align:left;
 border-bottom: 2px solid #c0c0c0;
}
tbody th {
 text-align:left;
 padding: 2px;
}
tbody td a, tbody th a {
 color:#002084;
 text-decoration:underline;
 font-weight:normal; 
}
tbody td a:hover, tbody th a:hover {
 text-decoration:none;
}
td.portfolio{
	width: 200px;
}
td.portfoliodescription{
	width: 400px;
}
	


/* Slider */


.slider_container { position: relative; margin-top: 0px; height: 40px; display: inline;} 
.small_label { background: url(/images/slider/minus.gif) no-repeat; height: 19px; width: 19px; overflow: hidden; float: left; display: inline;} 
.slider_bar { background: url(/images/slider/bar.gif) no-repeat; height: 19px; width: 400px;  float: left; margin: 0px 0px 0px 0px; position: relative;} 
.large_label { background: url(/images/slider/plus.gif) no-repeat; height: 19px; width: 19px; overflow: hidden; float: left;} 
.slider_handle { background: url(/images/slider/selector.png) no-repeat; height: 19px; width: 20px; overflow: hidden; position: absolute; top: 1px;} 
.slider_callout { background: url(/images/slider/callout.gif) no-repeat; height: 45px; width: 38px; overflow: hidden; position: absolute; top: -50px; margin-left:-10px;  padding: 8px 0px 0px 0px; font-family: "Myriad Pro"; color: #284a6e; font-weight: bold; text-align: center;}
div#container-slider{ float:right; margin: 0px 50px 0px 0px; padding: 0 auto; }
div#container-slider-personality{ margin: 0px 20px 0px 0px; padding: 0 auto; display: inline-block; }
.removeskill {float: right; margin: 0px 0px 0px -40px; padding: 0 auto;}



/* autocomplete */
.ac_input {width: 200px;}
.ac_results {padding: 0px;border: 1px solid WindowFrame;background-color: Window;overflow: hidden;}
.ac_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.ac_results iframe {display:none;/*sorry for IE5*/display/**/:block;/*sorry for IE5*/position:absolute;top:0;left:0;z-index:-1;filter:mask();width:3000px;height:3000px;}
.ac_results li {margin: 0px;padding: 2px 5px;cursor: pointer;display: block;width: 100%;font: menu;font-size: 12px;overflow: hidden;}
.ac_loading {background : url('/spinner.gif') right center no-repeat;}
.ac_over {background-color: Highlight;color: HighlightText;}