  <tr>
    <td><%=h industry.name %></td>
    <td><%=h industry.search_position %></td>
    <td><%= link_to 'Show', industry %></td>
    <td><%= link_to 'Edit', edit_industry_path(industry) %></td>
    <td><%= link_to 'Destroy', industry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
