<h1>Listing industries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Search position</th>
  </tr>

<%= render :partial => 'industry', :collection => @industries %>
</table>

<br />

<%= link_to 'New industry', new_industry_path %>
