<h1>Listing degrees</h1>

<table>
 <%= render :partial => 'degree_header' %>


 <%= render :partial => 'degree', :collection => @degrees %>

</table>

<br />

<%= link_to 'New degree', new_degree_path %>