<h1>Current Activity</h1>
<% for job_posting in @job_postings %>
  <h2><%= job_posting.title %></h2>
  <table>
  <% for job_application in @job_applications %>
    <% if job_application.job_posting == job_posting %>
      <% if (job_application.job_application_statuses.last.job_application_state.name == "Open Application") %>
        <tr><td><%= link_to (job_application.user.first_name + " " + job_application.user.last_name), :controller => "professionals", :action => "view", :id => job_application.user %></td></tr>
      <% elsif (job_application.job_application_statuses.last.job_application_state.name == "Open Invitation") %>
        <tr><td><%= link_to job_application.user.code_name, :controller => "professionals", :action => "view", :id => job_application.user %></td></tr>
      <% else %>
        <% break %>
      <% end %>
    <% else %>
      <% break %>
    <% end %>
  <% end %>
  </table>
<% end %>

