<h1>Your Activity</h1>

<% unless @invites.empty? %>
  <h2>Invitations</h2>
  <p>These employers have viewed your profile and feel you might be right for the role.  If you're interested, you need to select "Apply" at the top of the job posting, so we can release your contact details to them. </p> 
  <table>
    <% for job_application in @invites %>
      <tr><td><%= <%= link_to job_application.job_posting.title, :controller => :jobs, :action => :view, :id => job_application.job_posting %></td></tr>
    <% end %>
  </table>
<% end %>

<% unless @applies.empty? %>
  <h2>Open Applications</h2>
  <p>You've applied for the following roles.  We've sent the employer your information, and they will contact you directly if they're interested in proceeding.</p>
  <table>
    <% for job_application in @applies %>
      <tr><td><%= link_to job_application.job_posting.title, :controller => :jobs, :action => :view, :id => job_application.job_posting  %></td><td><%= job_application.created_at%></tr>
    <% end %>
  </table>
<% end %>



