<h1>Your Activity</h1>

<h2>Open Aplications</h2>
<table>
  <% for job_application in @applies %>
    <tr><td><%= job_application.job_posting.title %></td><td><%= job_application.created_at%></tr>
  <% end %>
</table>

<h2>Invitations</h2>
<table>
  <% for job_application in @invites %>
    <tr><td><%= job_application.job_posting.title unless job_application.job_posting.nil? %></td></tr>
  <% end %>
</table>

