<h1>Application submitted- thanks!</h1>
You've applied for <%= @job_posting.title %> at <%= @job_application.job_posting.employer.name unless @job_application.job_posting.employer.nil? %>
<p>The employer will contact you directly if they are interested in proceeding.  You can review this and other open applications in <%= link_to "your activity", :action => :view_professional_activity %>, or you can return to  <%= link_to "job postings", :controller => :search, :action => :all_jobs %> to see other open roles.</p>