<h1>Invitation sent- thanks!</h1>
<p>You've invited <%= @job_application.user.code_name %> to apply for <%= @job_application.job_posting.title %>.  We will be emailing them this job posting.  If they're interested too and decide to apply, we'll release their contact details to you.</p> 
