<h1>Application submitted- thanks!</h1>
You've applied for <%= @job_application.job_posting.title %> at <%= @job_application.job_posting.employer.name unless @job_application.job_posting.employer.nil? %>
<p>Add content!</p>