

<div id= "newindex2">
<div id="newindextitle">
<br>
		<h1>Exhilarating<br>
		IT Jobs in Ireland</h1>
</div>		
    <div id="fancylist">
    <ul>
     <li>Skills based job searches.</li>
      <li>Personality matching for culture fit.</li>
      <li>Just employers- no recruitment agencies.</li>
      <li>Portfolios to showcase your work.</li>
   
    </ul>
    </div>
<br><br>
<div id="signup-button">
    <div id="roundbuttonbindex">
    <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
     <div class="contentc">
            <div>Try it now!</div>
        </div>
    <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
    </div>
    </div>
   
    <script type="text/javascript">
    <!--
    $('#signup-button').click(function () {
      $('#bcvupload').toggle();
      $('#signup-button').toggle();
     
         });

    //-->
    </script>
  
</div>


<div id="bcvupload">
<%= render :partial => 'professionals/upload_cv' %>
</div>



<div id ="dailytip">

<h2>Daily Jobseeker Tip</h2>



</div>

</div>