You've received an invitation from <%= @employer %> to apply for <%= @job_title %> at Jobyssey.  Go to your activity page to find out more about this role and to apply: <br>
<%= link_to "Activity", :controller => "apply", :action => "view_professional_activity" %>