You've received a new application for <%= @job_title %> at Jobyssey.  Go to your activity page to view their details: <br>
<%= link_to "Activity", :controller => "apply", :action => "view_employer_activity" %>


<%= @email_body %>