<h1>Listing phone_numbers</h1>

<table>
<%= render :partial => 'phone_number_header' %>


<%= render :partial => 'phone_number', :collection => @phone_numbers %>

</table>

<br />

<%= link_to 'New phone_number', new_phone_number_path %>
