/*------------------------------- Defaults -------------------------------*/

a, a:link, a:visited {          color:#000000;}

a:hover, a:active {             color:#888;}

blockquote p {                  color:#888;}

blockquote blockquote p {       color:#555;}





/*------------------------------- Div ID's -------------------------------*/

#wrapper{			background-image:url("../images/content_bg.gif");}

#header{			background-image:url("../images/header_black.gif");}





/*----------------------------- Header Tags -------------------------------*/

h2 {                            color:#4D4D4D;
                                border-bottom:1px solid #4D4D4D;}

h3 {                            border-top:1px solid #4D4D4D;}




/*----------------------------- Form Styles -------------------------------*/

#search input.button {          background-image:url("../images/search_black.gif");
                                background-repeat:no-repeat;}




/*----------------------------- Link Styles -------------------------------*/

a p.more, a:link p.more, a:visited p.more {    
				color:#4D4D4D;}

a:hover p.more, a:active p.more {             
				color:#000000;}




/*----------------------------- List Styles -------------------------------*/

#content ol, #content ul {	color:#888;}




/*-------------------------- Paragraph Styles ------------------------------*/

p.date {                        color:#4D4D4D;}




/*------------------- Sidebar Styles - Widgetize Me! ------------------------*/

#sidebar div.title, #sidebar li h2 {     
                                color:#4D4D4D;
                                border-bottom:1px solid #4D4D4D;}

table#wp-calendar caption {     background-color:#000000;}

table#wp-calendar a, table#wp-calendar a:link, table#wp-calendar a:visited {
                                color:#000000;}

table#wp-calendar a:hover, table#wp-calendar a:active {
                                color:#4D4D4D;}

div.widget_sideblogwidget {     border:5px solid #000;}

#sidebar div.widget_sideblogwidget ul {  
                                background-image:url("../images/quote_left_black.gif");}

div.widget_sideblogwidget li {  background-image:url("../images/quote_right_black.gif");}





/*---------------------- Alternate Comment Styles ---------------------------*/

#comments_wrap h2 {           	border:none;}