/*------------------------------- Defaults -------------------------------*/

a, a:link, a:visited {          color:#15618D;}

a:hover, a:active {             color:#3FA1D9;}





/*------------------------------- Div ID's -------------------------------*/

#wrapper{			background-image:url("../images/content_bg.gif");}

#header{			background-image:url("../images/header_blue.gif");}





/*----------------------------- Header Tags -------------------------------*/

h2 {                            color:#15618D;
                                border-bottom:1px solid #15618D;}

h3 {                            border-top:1px solid #15618D;}




/*----------------------------- Form Styles -------------------------------*/

#search input.button {          background-image:url("../images/search_blue.gif");
                                background-repeat:no-repeat;}




/*----------------------------- Link Styles -------------------------------*/

a p.more, a:link p.more, a:visited p.more {    
				color:#15618D;}

a:hover p.more, a:active p.more {             
				color:#3FA1D9;}




/*-------------------------- Paragraph Styles ------------------------------*/

p.date {                        color:#15618D;}




/*------------------- Sidebar Styles - Widgetize Me! ------------------------*/

#sidebar div.title, #sidebar li h2 {     
                                color:#15618D;
                                border-bottom:1px solid #15618D;}

table#wp-calendar caption {     background-color:#3193CB;}

table#wp-calendar a, table#wp-calendar a:link, table#wp-calendar a:visited {
                                color:#3FA1D9;}

table#wp-calendar a:hover, table#wp-calendar a:active {
                                color:#15618D;}

div.widget_sideblogwidget {     border:5px solid #3193CB;}

#sidebar div.widget_sideblogwidget ul {  
                                background-image:url("../images/quote_left_blue.gif");}

div.widget_sideblogwidget li {  background-image:url("../images/quote_right_blue.gif");}





/*---------------------- Alternate Comment Styles ---------------------------*/

#comments_wrap h2 {           	border:none;}