<p>
  <b>Name:</b>
  <%=h @educational_qualification.name %>
</p>

<p>
  <b>Level:</b>
  <%=h @educational_level %>
</p>


<%= link_to 'Edit', edit_educational_qualification_path(@educational_qualification) %> |
<%= link_to 'Back', educational_qualifications_path %>
