<h1>Listing job_application_attachments</h1>

<table>
 <%= render :partial => 'job_application_attachment_header' %>



  <%= render :partial => 'job_application_attachment', :collection => @job_application_attachments %>

</table>

<br />

<%= link_to 'New job_application_attachment', new_job_application_attachment_path %>
