<h2><%=h code_sample.code_sample_question.code_sample_question %></h2>
<ul>
	<li><label>Time to Answer:</label><%=h code_sample.time_to_answer.round %> minutes</li>
	<li><label>Language used:</label><%=h code_sample.language_used %></li>
	</ul>
	<div class="code_sample">
	<fieldset>
	<p><pre width=90><%=h code_sample.code_sample %></pre></p>
	</fieldset>
	</div>
