<h2><%=h code_sample.code_sample_question.code_sample_question %></h2>
<ul>
	<li><label>Time to Answer:</label><%=h code_sample.time_to_answer.round %> minutes</li>
	<li><label>Language used:</label><%=h code_sample.language_used %></li>
	</ul>
	<fieldset>
	<p><%=h code_sample.code_sample %></p>
	</fieldset>
