<h1>Thanks For Playing!</h1>
<p>We've saved your code sample so that prospective employers can view it when reviewing your profile.  You can view your answer(s) <a href = "view_samples.html">here</a>.  </p>
