<h1>Show them What You're Made Of</h1>

<h2>Why add a code sample?</h2>
<p>Adding a code sample to your portfolio is a way to get the attention of line managers at the best software and IT companies, and to stand out from other applicants with snazzy CV's by letting employers know that you can code like a ????.  Even if you have a strong portfolio with lots of examples of things you've done, hiring managers like to see a sample of code written under semi-pressurized conditions and that solves a problem not of your own choosing.</p>


<h2>How does it work?</h2>
<p>You'll be given a choice of topics (add list of choices here) to select from.  Don't worry, we'll be showing you a sample from each section first to give you a better idea of what we're talking about.  Once you've chosen an area you'll be given a random problem from that area to solve.  The time it takes you to complete the solution will also be recorded.  </p>

<h2>In Life, There are no Do-Overs</h2>
<p>As it turns out, that also applies to code sample problems.  Once you've selected a topic and been given a question, it's not possible to pause the clock, or to select another question.  Niether job interviews or actual projects work that way, and monitoring the time used helps to cut down on underqualified candidates Googling for a solution or calling up their brillliant cousin Sven for help.  So, before you start, be sure you will have 15- 30 minutes of uninterrupted time to work.</p>

<H2><a href="/code_sample_question/choose_a_category">Want to see the available categories?</a></h2>

