<h1>Thanks!</h1>
<p>Thanks for taking the time to add a code sample to your portfolio.  You can view your completed sample(s) here:</p>
<p><%= link_to "View Samples", :action => 'view_samples', :controller => 'code_sample_question' %></p>
<p><%= link_to "Return to Portfolio", :action => 'links', :controller => 'portfolio' %></p>
