<h1><%= @professional.code_name %>- Code Samples</h1>
<p>The timed answers below are to questions we give users at random.</p>

<% for code_sample in @code_samples %>
  <%= render :partial => 'sample_question_and_answer', :locals => {:code_sample => code_sample} %>

<% end %>

