<h1>View Answers</h1>
<p>Please find all of your code samples below, as they will be displayed to employers. </p>

<% for code_sample in @code_samples %>
  <%= render :partial => 'sample_question_and_answer', :locals => {:code_sample => code_sample} %>

<% end %>

