<tr>
    <th><%=l(:employer_name)%></th>
    <th><%=l(:employer_tagline)%></th>
    <th><%=l(:employer_size)%></th>
    <th><%=l(:employer_description)%></th>
    <th><%=l(:employer_industry)%></th>
    <th><%=l(:employer_searchposition)%></th>
    <th><%=l(:employer_geoposition)%></th>
  </tr>