
<div id="newsfeed">

		<h1>Welcome to Jobyssey!</h1>
		
    <p>Need to change login bar!!</p>
    <p>Add a link to portfolio, maybe one to three questions, add a new job.  </p>
    
    </div>		

		

			<div id="startpage">

				<H1>Welcome!</h1>
					
					<fieldset>
						<Legend> Coming Soon!</legend>
            <p>Add some coming features here, as well as contact info for us. </p>
					</fieldset>
					
			
					
						</div>


