<h1><%=l(:employer_list)%></h1>

<table>
  <%= render :partial => 'employer_header' %>



 <%= render :partial => 'employer', :collection => @employers %>

</table>

<br />

<%= link_to 'New employer', new_employer_path %>
