
<div id= "frontsaleswrapper">


		<h1>Premium Services- All the Tools You Need</h1>
		<div id ="salespage">
    <h2 style="text-align: center">Hands-On Hiring Help</h2>
      <p>Our Premium employers recieve Hands-On Hiring Help to be sure they find the right new hires.  You'll build a relationship with an experienced member of our staff who can offer guidance with writing ads, phone screens, interviewing, and even handling offers and counter-offers.  We will work with you every step of the way to help you bring the right people on board.</p>
</div>
<div id="productandcv">

<div id ="salespoints">
<h2 style="text-align: center">Features</h2>
<ul id ="needsbullets">
<li><b>Database access- </b> Immediately view the complete profiles and CV's of all suitable candidates in our database.</b></li>
<li><b>Unlimited invitations-</b> Contact confidential candidates directly through the site.</li>
<li><b>Code samples and portfolio- </b>View samples of professionals' past work to be sure you've found the right person.</li>
</ul>
</div>
</div>
<div id="prices">
<h2 style="text-align: center">Pricing</h2>
<p>Premium services are available for €299 per month.  Discounts are available for contracts of six months and longer or for multiple accounts.</li>
</ul>
</div>
</div>
<br><br>

 <div id="signup-button" style="display:block;">
 <a href = "/it-employers/premium">
  <div id="roundbuttonsalespage">
  <b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
   <div class="contentc">
          <div>Let's Do It- Sign Up Now!</div>
      </div>
  <b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b>
  </div>
  <br>
  </a>
  </div>
</div></div>


</div>






