
<h1>Edit Project</h1>

<% form_for(:attachment , :url => {:action => :update, :id => @attachment.id}) do |form| %>

<ul>
<li>
<label>Name:</label>
	<%= form.text_field "name" %>
</li>
<li>
<label>URL:</label>
	<%= form.text_field "url" %>
</li>
<li>
<label>Description:</label>
	<%= form.text_field "description" %>
</li>

</fieldset>
	<%= submit_tag %>

<% end %>


 