<h1><%= session[:professional].code_name %>' Portfolio</h1>

<table>
  <tr>
    <th>Name</th>
    <th><URL</th>
    <th>Description</th>
  </tr>
  <%= render :partial => 'view_link', :collection => @professional.attachments %>
</table>

