<%= render :partial => 'sliderjava', :locals => {:name => name, :value => value} %>
<div id="container-slider-personality"> 
	<div class="slider_container" id="slider_container_<%=name%>"> 
		<div class="slider_bar" id="slider_bar_<%=name%>"> 
		
			<div id="slider_handle_<%=name%>" class="slider_handle"></div> 
		</div> 
		<!--<div id="remove_skill_<%=name%>"> <%= submit_tag l(:remove_skill )%> </div>-->
		<div id="showvalue"></div>
	</div> 
</div>
<br>