<p>
  <b>Type:</b>
  <%=h @differentiator_question.type %>
</p>

<p>
  <b>Name:</b>
  <%=h @differentiator_question.name %>
</p>


<%= link_to 'Edit', edit_differentiator_question_path(@differentiator_question) %> |
<%= link_to 'Back', differentiator_questions_path %>
