<h1>Post a new job</h1>
<p>To create your job posting, you'll write a job ad for prospective applicants, and select the skills and personality required for this role to maximize your search.</p>

  <%= render :partial => 'job/upload_spec' %>

