<h1>Skills for "<%=@job.title%>"</h1>
<p>Skills list</p>
<br/>
<table>
	<tr>
    	<th colspan="2">Name</th>
	</tr>
	
	<% @job_skills.each do |requirement| %>
	<tr>
    	<td><%=h requirement.metric.name %></td>
		<td><%= link_to 'Destroy', { :action => :delete_skill, :id => requirement }, :confirm => 'Are you sure?' %></td>
	</tr>
	<% end unless @job_skills.nil?%>
</table>
<br/>

<%= link_to 'Add skill to job', :action => :add_skill, :id => @job.id %></td>
