<h1>Your Current Jobs</h1>
<table>
<tr><th>
Job Title </th></tr>
<% for job in @jobs %>
<tr><td><%= link_to job.title, :action => :view, :id => job %></td>
<td><%= link_to 'Invite someone to apply', :controller => :search, :action => :all_professionals, :id => job %></td>  
<td><%= link_to 'Edit', :action => :edit_job, :id => job %></td> 
<td><%= button_to 'Destroy', { :controller => :job, :action => :destroy, :id => job }, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>