<h1>Your Current Jobs</h1>
<p>Here's a list of all the positions you currently have open.  You can search for suitable professionals and invite them to apply, edit your posting, or delete it if it's no longer open.</p>
<table>
<tr><th>
Job Title </th></tr>
<% for job in @jobs %>
<tr><td><%= link_to job.title, :action => :preview, :id => job %></td>
<td><%= link_to 'Invite someone to apply', :controller => :search, :action => :find_matching_professionals, :id => job %></td>  
<td><%= link_to 'Edit', :action => :edit_job, :id => job %></td> 
<td><%= button_to 'Delete', { :controller => :job, :action => :destroy, :id => job }, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>