  <tr>
    <th>Title</th>
    <th>Employer</th>
    <th>Description</th>
    <th>Search position</th>
    <th>Maximum salary</th>
    <th>Minimum salary</th>
    <th>Education required</th>
    <th>Employment type</th>
    <th>Working time</th>
  </tr>