<h1>Listing job_postings</h1>

<table>
<%= render :partial => 'job_posting_header' %>


<%= render :partial => 'job_posting', :collection => @job_postings %>

</table>

<br />

<%= link_to 'New job_posting', new_job_posting_path %>
	