/*------------------------------- Defaults -------------------------------*/

body {				background-image:url("../../images/wave_bg_red.gif");}

a, a:link, a:visited {          color:#15618D;}

a:hover, a:active {             color:#3FA1D9;}





/*-------------------------- Paragraph Styles ------------------------------*/

p.date {                        color:#15618D;}





