/*------------------------------- Defaults -------------------------------*/

body {				background-image:url("../../images/wave_bg_black.gif");}

a, a:link, a:visited {          color:#777;}

a:hover, a:active {             color:#000;}





/*-------------------------- Paragraph Styles ------------------------------*/

p.date {                        color:#777;}





