/*------------------------------- Defaults -------------------------------*/

body {				background-image:url("../../images/wave_bg_green.gif");}

a, a:link, a:visited {          color:#057305;}

a:hover, a:active {             color:#2CA22C;}





/*-------------------------- Paragraph Styles ------------------------------*/

p.date {                        color:#057305;}





