<h1>Listing transactions</h1>

<table>
<%= render :partial => 'transaction_header' %>

 <%= render :partial => 'transaction', :collection =>@transactions %>

</table>

<br />

<%= link_to 'New transaction', new_transaction_path %>
