<h1>Listing differentiator_answers</h1>

<table>
 <%= render :partial => 'differentiator_answer_header' %>

  <%= render :partial => 'differentiator_answer', :collection => @differentiator_answers, :locals => { :type => 'admin' } %>

</table>

<br />

<%= link_to 'New differentiator_answer', new_differentiator_answer_path %>
