

<% form_for(:image, :url => {:controller => :images, :action => :save_image}, :html => {:multipart => true}) do |form| %>

<fieldset>
	<legend>Add an Image</legend>
	<p>Worth a thousand words, right?  Adding pictures makes your company profile unique and gets the attention of jobseekers.  </p>
<div id="error-messages-for-cv-upload" class="error-messages">
	<%= form.error_messages %>
</div>
<ul>
		<li><%= form.file_field("attachment")%></li>
		<li><p>Add your description below and click upload</p></li>
		<li><%= form.text_area "description" %>

		<%= submit_tag "Upload"%></li>
</ul>

</fieldset>
<% end %>