

<% form_for(:image, :url => {:controller => :images, :action => :save_image}, :html => {:multipart => true}) do |form| %>

<fieldset>
	<legend>Add an Image</legend>
<div id="error-messages-for-cv-upload" class="error-messages">
	<%= form.error_messages %>
</div>
<ul>
		<li><%= form.file_field("attachment")%></li>
		<li><label for="image[description]">Description:</label>
		<%= form.text_field "description" %>

		<%= submit_tag "Upload"%></li>
</ul>

</fieldset>
<% end %>