<html>
<head>
	<title><%= title :site_name => "Jobyssey – IT Jobs in Ireland" %></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />	
	<%= stylesheet_link_tag "current" %>
</head>

<body>	
	<div id="container">
<div id="header">
	<a class="headerlinks" href="/"><h1><span id="bigj">J</span>obyssey</h1></a>
	<h3>BETA</h3>
</div>
<div id="navbar">
	<ul>
		<li><a href="/it-professionals">Professionals</a></li>
		<li><a href="/it-employers">Employers</a></li>
	</ul>
</div>

<div id="loginbar" style="visibility:hidden;display:none">
	<form name="frmLogin" method="post" action="{$result->makeUrl('','loginuser','jobs')}">
		<input type="hidden" name="action" value="login" />
		<label><%=l(:email)%></label><input type="text" name="user[username]" value="{$result->username}" size="19" maxlength="36"  />
		<label><%=l(:password)%></label><input type="password" name="user[passwd]" size="19" maxlength="24"  />
		<input type="submit" name="submittedlogin" value="<%=l(:login)%>"  />
		<a class="small" href="{$result->makeUrl('','password','jobs')}"><%=l(:forgot_password)%></a>
	</form>
</div>

<div id="content">
<%=@content_for_layout%>
</div>

<div id="footer">
	<div id="bottomnavbar">
		<ul>
			<li><a href="/wordpress/"><%=l(:our_blog)%></a></li>
			<li><a href="/jobyssey/about"><%=l(:about_us)%></a></li>
			<li><a href="/jobyssey/contact"><%=l(:contact_us)%></a></li>
		</ul>
	</div>

	<div id="copyright">
		<p class="snug"><%=l(:copyright_footer)%></p>
		<p class="snug"><%= link_to l(:additional_copyright_information), {:action => :copyright, :controller => :jobyssey} %>
	</div>

</div>	
</div>
</body>
</html>