<html>
<head>
	<title><%= title :site_name => "Jobyssey – IT Jobs in Ireland" %></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />	

	<%= stylesheet_link_tag "current" %>
	<%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application','jquery.form', 'jquery.autocomplete' %>
	<script language="Javascript">
	$(document).ready(function(){
	   $(".login").click(function(){
			$("#loginbar").toggle("slow"); 
	});
	});
		$(document).ready(function(){
	$(".question").click(function(){
		$(".answer").toggle("slow");
	});
	});
	</script>

</head>

<body>	

	<div id="container">
		<div id="header">
		<p><%=l(:your_journey)%></p>
		
		<% if authenticated? %>
			<% if session[:user].type == "Professional" %>
				<H1><%= link_to "Jobyssey", :controller => 'professionals', :action => "home" %></h1>
			<% else %>
				<h1><%= link_to "Jobyssey", :controller => 'employers', :action => "home" %></h1>
			<% end %>
		<% else %>
				<a class= "headerlinks" href="/"><h1>Jobyssey</h1></a>
		<% end %>

		
		</div>
<div id="navbar">

		<% if authenticated? %>
			<div class="info">Welcome, <%=authenticated?.first_name.capitalize %></div>
	<ul>		
			<% if session[:user].type == "Professional" %>
				<li><%= link_to "Jobs", :controller => 'search', :action => "all_jobs" %></li>
				<!--<li class="professional">Profile</li>-->
				<li><%= link_to "Portfolio", :controller => 'portfolio', :action => "links" %></li>
				<li><%= link_to "Activity", :controller => 'apply', :action => "view_professional_activity" %></li>
			<li><%= link_to "Tips", :controller => 'jobyssey', :action => "job_search_tips" %></li>
			<% else %>
				<li><%= link_to "Activity", :controller => 'apply', :action => "view_employer_activity" %></li>
				<li><%= link_to "New Job", :controller => 'job', :action => "index" %></li>
				<li><%= link_to "Company Profile", :controller => 'company_profiles', :action => "edit", :id => session[:employer] %></li>
				<!--<li class="employer">Account</li>
				<li class="employer">Tips</li>-->
			<% end %>
			<li class="logout"><a href="/jobyssey/logout">Logout</a></li>
		<% else %>
			<li class="login" style="cursor:pointer">Login</li>
		<% end %>
	</ul>
</div>

<div id = "loginbar" style="display:none">
	<%=render :partial => "jobyssey/login"%>
</div>

<% if flash[:notice] -%> 
<div id="notice"><%= flash[:notice] %></div> 
<% end -%> 

<div id="behindcontent">
<div id="content">
<div id="liner">
<%=@content_for_layout%>

</div>

	<div id="bottomnavbar">
		<ul>
			<li><a href="/wordpress/"><%=l(:our_blog)%></a></li>
			<li><a href="/jobyssey/about"><%=l(:about_us)%></a></li>
			<li><%= link_to "Contact Us", :controller => :messages, :action => :general_questions %></li>
		</ul>
</div>
	<div id="copyright">
		<p class="snug"><%=l(:copyright_footer)%> 
	</div>
</div>
</div>



<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3701319-1");
pageTracker._trackPageview();
</script>
</body>
</html>