<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title><%= title :site_name => "Jobyssey – IT Jobs in Ireland" %></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />	
	<%= stylesheet_link_tag "new" %>
	<%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application','jquery.form', 'jquery.autocomplete' %>
	<script language="Javascript">
	$(document).ready(function(){
	$(".question").click(function(){
		$(".answer").toggle("slow");
	});
	});
	</script>
</head>

<body>	

		<div id="header">
			<div id ="headercontainer">
			<div id ="headertext">
				
		<% if authenticated? %>
			<% if session[:user].class == "Professional" %>
				<H1><%= link_to "Jobyssey", :controller => 'professionals', :action => "home" %></h1>
			<% else %>
				<h1><%= link_to "Jobyssey", :controller => 'employers', :action => "home" %></h1>
			<% end %>
		<% else %>
				<a class= "headerlinks" href="/"><h1>Jobyssey</h1></a>
		<% end %>


	
	</div>
	</div>
	</div>

		<div id="container">
	<div id="content">
	<div id="liner">

		<% if flash[:notice] -%> 
		<div id="notice"><%= flash[:notice] %></div> 
		<% end -%>
	<%=@content_for_layout%>

	</div></div>
	</div>



		<div id="bottomnavbar">
			<div id ="footercontainer">
			<ul>
				<li><a href="http://www.jobyssey.com/it_professionals_in_ireland/job_search_ideas_and_cv_tips.html">Jobseeker Tips</a></li>
				<li><a href="http://www.jobyssey.com/it_employers_in_ireland/hiring_help_and_recruiting_tips.html">Employer Tips</a></li>
				<li><a href="/wordpress/">Our Blog</a></li>
				<li><a href="/jobyssey/about">About Us</a></li>
				<% if authenticated? %>
					<% if session[:user].class == "Professional" %>
					<li><%= link_to "Contact Us", :controller => :messages, :action => :general_questions %></li>
					<% else %>
					<li><%= link_to "Contact Us", :controller => :messages, :action => :client_questions %></li>
					<% end %>
				<% else %>
					<li><%= link_to "Contact Us", :controller => :messages, :action => :general_questions %></li>
				<% end %>
			</ul>
		</div>
	</div>




	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3701319-1");
	pageTracker._trackPageview();
	</script>
	<script type="text/javascript">
	if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
	(document.location.protocol=='https:'?'s://ssl':'://www')+
	'.google-analytics.com/ga.js"></sc'+'ript>')</script>
	<script type="text/javascript">
	try {
	var pageTracker=_gat._getTracker("UA-7106234-1");
	pageTracker._trackPageview("/2629546834/goal");
	}catch(err){}</script>
	
	</body>
	</html>



