<html>
<head>
	<title><%= title :site_name => "Jobyssey – IT Jobs in Ireland" %></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />	
	<%= stylesheet_link_tag "current" %>
	<%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'application','jquery.form', 'jquery.autocomplete' %>
	<script language="Javascript">
	$(document).ready(function(){
	$(".question").click(function(){
		$(".answer").toggle("slow");
	});
	});
	</script>
</head>

<body>	

	<div id="container">
		<div id="header">
		<p><%=l(:start_journey)%></p>
			<a class= "headerlinks" href="/"><h1>Jobyssey</h1></a>

		</div>


<% if flash[:notice] -%> 
<div id="notice"><%= flash[:notice] %></div> 
<% end -%> 

<div id="behindcontent">
<div id="content">
<%=@content_for_layout%>
</div>

<div id="footer">
	<div id="bottomnavbar">
		<ul>
			<li><a href="/wordpress/"><%=l(:our_blog)%></a></li>
			<li><a href="/about"><%=l(:about_us)%></a></li>
			<li><a href="/contact/new"><%=l(:contact_us)%></a></li>
		</ul>
	</div>

	<div id="copyright">
		<p class="snug"><%=l(:copyright_footer)%> 
	</div>
</div>
</div>
</div>	
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3701319-1");
pageTracker._trackPageview();
</script>
</body>
</html>