  <tr>
    <th>User</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Salary</th>
    <th>Description</th>
    <th>Job title</th>
    <th>Geo location</th>
    <th>State</th>
    <th>City</th>
    <th>Country</th>
    <th>Employer</th>
    <th>Employment type</th>
    <th>Working time</th>
  </tr>