<h1>Listing work_history_items</h1>

<table>
<%= render :partial => 'work_history/work_history_header' %>


<%= render :partial => 'work_history/work_history_item', :collection => @work_history_items, :locals => { :type => 'admin' } %>
</table>

<br />

<%= link_to 'New work_history_item', new_work_history_item_path %>
